    @/bond:OPLSAA/90-90 @/atom:OPLSAA/90 @/atom:OPLSAA/90
    @/bond:OPLSAA/90-91 @/atom:OPLSAA/90 @/atom:OPLSAA/91
    @/bond:OPLSAA/90-460 @/atom:OPLSAA/90 @/atom:OPLSAA/460
    @/bond:OPLSAA/460-460 @/atom:OPLSAA/460 @/atom:OPLSAA/460
