    set type @/atom:OPLSAA/80 charge -0.222
    set type @/atom:OPLSAA/81 charge -0.148
    set type @/atom:OPLSAA/82 charge -0.16
    set type @/atom:OPLSAA/84 charge 0.0
    set type @/atom:OPLSAA/85 charge 0.074
