    @/angle:OPLSAA/406-406-407 @/atom:OPLSAA/406 @/atom:OPLSAA/406 @/atom:OPLSAA/407
    @/angle:OPLSAA/407-406-407 @/atom:OPLSAA/407 @/atom:OPLSAA/406 @/atom:OPLSAA/407
    @/angle:OPLSAA/80-406-80 @/atom:OPLSAA/80 @/atom:OPLSAA/406 @/atom:OPLSAA/80
    @/angle:OPLSAA/80-406-81 @/atom:OPLSAA/80 @/atom:OPLSAA/406 @/atom:OPLSAA/81
    @/angle:OPLSAA/80-406-82 @/atom:OPLSAA/80 @/atom:OPLSAA/406 @/atom:OPLSAA/82
    @/angle:OPLSAA/80-406-431 @/atom:OPLSAA/80 @/atom:OPLSAA/406 @/atom:OPLSAA/431
    @/angle:OPLSAA/80-406-735 @/atom:OPLSAA/80 @/atom:OPLSAA/406 @/atom:OPLSAA/735
    @/angle:OPLSAA/80-406-738 @/atom:OPLSAA/80 @/atom:OPLSAA/406 @/atom:OPLSAA/738
    @/angle:OPLSAA/81-406-80 @/atom:OPLSAA/81 @/atom:OPLSAA/406 @/atom:OPLSAA/80
    @/angle:OPLSAA/81-406-81 @/atom:OPLSAA/81 @/atom:OPLSAA/406 @/atom:OPLSAA/81
    @/angle:OPLSAA/81-406-82 @/atom:OPLSAA/81 @/atom:OPLSAA/406 @/atom:OPLSAA/82
    @/angle:OPLSAA/81-406-431 @/atom:OPLSAA/81 @/atom:OPLSAA/406 @/atom:OPLSAA/431
    @/angle:OPLSAA/81-406-735 @/atom:OPLSAA/81 @/atom:OPLSAA/406 @/atom:OPLSAA/735
    @/angle:OPLSAA/81-406-738 @/atom:OPLSAA/81 @/atom:OPLSAA/406 @/atom:OPLSAA/738
    @/angle:OPLSAA/82-406-80 @/atom:OPLSAA/82 @/atom:OPLSAA/406 @/atom:OPLSAA/80
    @/angle:OPLSAA/82-406-81 @/atom:OPLSAA/82 @/atom:OPLSAA/406 @/atom:OPLSAA/81
    @/angle:OPLSAA/82-406-82 @/atom:OPLSAA/82 @/atom:OPLSAA/406 @/atom:OPLSAA/82
    @/angle:OPLSAA/82-406-431 @/atom:OPLSAA/82 @/atom:OPLSAA/406 @/atom:OPLSAA/431
    @/angle:OPLSAA/82-406-735 @/atom:OPLSAA/82 @/atom:OPLSAA/406 @/atom:OPLSAA/735
    @/angle:OPLSAA/82-406-738 @/atom:OPLSAA/82 @/atom:OPLSAA/406 @/atom:OPLSAA/738
    @/angle:OPLSAA/431-406-80 @/atom:OPLSAA/431 @/atom:OPLSAA/406 @/atom:OPLSAA/80
    @/angle:OPLSAA/431-406-81 @/atom:OPLSAA/431 @/atom:OPLSAA/406 @/atom:OPLSAA/81
    @/angle:OPLSAA/431-406-82 @/atom:OPLSAA/431 @/atom:OPLSAA/406 @/atom:OPLSAA/82
    @/angle:OPLSAA/431-406-431 @/atom:OPLSAA/431 @/atom:OPLSAA/406 @/atom:OPLSAA/431
    @/angle:OPLSAA/431-406-735 @/atom:OPLSAA/431 @/atom:OPLSAA/406 @/atom:OPLSAA/735
    @/angle:OPLSAA/431-406-738 @/atom:OPLSAA/431 @/atom:OPLSAA/406 @/atom:OPLSAA/738
    @/angle:OPLSAA/735-406-80 @/atom:OPLSAA/735 @/atom:OPLSAA/406 @/atom:OPLSAA/80
    @/angle:OPLSAA/735-406-81 @/atom:OPLSAA/735 @/atom:OPLSAA/406 @/atom:OPLSAA/81
    @/angle:OPLSAA/735-406-82 @/atom:OPLSAA/735 @/atom:OPLSAA/406 @/atom:OPLSAA/82
    @/angle:OPLSAA/735-406-431 @/atom:OPLSAA/735 @/atom:OPLSAA/406 @/atom:OPLSAA/431
    @/angle:OPLSAA/735-406-735 @/atom:OPLSAA/735 @/atom:OPLSAA/406 @/atom:OPLSAA/735
    @/angle:OPLSAA/735-406-738 @/atom:OPLSAA/735 @/atom:OPLSAA/406 @/atom:OPLSAA/738
    @/angle:OPLSAA/738-406-80 @/atom:OPLSAA/738 @/atom:OPLSAA/406 @/atom:OPLSAA/80
    @/angle:OPLSAA/738-406-81 @/atom:OPLSAA/738 @/atom:OPLSAA/406 @/atom:OPLSAA/81
    @/angle:OPLSAA/738-406-82 @/atom:OPLSAA/738 @/atom:OPLSAA/406 @/atom:OPLSAA/82
    @/angle:OPLSAA/738-406-431 @/atom:OPLSAA/738 @/atom:OPLSAA/406 @/atom:OPLSAA/431
    @/angle:OPLSAA/738-406-735 @/atom:OPLSAA/738 @/atom:OPLSAA/406 @/atom:OPLSAA/735
    @/angle:OPLSAA/738-406-738 @/atom:OPLSAA/738 @/atom:OPLSAA/406 @/atom:OPLSAA/738
    @/angle:OPLSAA/406-406-80 @/atom:OPLSAA/406 @/atom:OPLSAA/406 @/atom:OPLSAA/80
    @/angle:OPLSAA/406-406-81 @/atom:OPLSAA/406 @/atom:OPLSAA/406 @/atom:OPLSAA/81
    @/angle:OPLSAA/406-406-82 @/atom:OPLSAA/406 @/atom:OPLSAA/406 @/atom:OPLSAA/82
    @/angle:OPLSAA/406-406-431 @/atom:OPLSAA/406 @/atom:OPLSAA/406 @/atom:OPLSAA/431
    @/angle:OPLSAA/406-406-735 @/atom:OPLSAA/406 @/atom:OPLSAA/406 @/atom:OPLSAA/735
    @/angle:OPLSAA/406-406-738 @/atom:OPLSAA/406 @/atom:OPLSAA/406 @/atom:OPLSAA/738
    @/angle:OPLSAA/407-406-80 @/atom:OPLSAA/407 @/atom:OPLSAA/406 @/atom:OPLSAA/80
    @/angle:OPLSAA/407-406-81 @/atom:OPLSAA/407 @/atom:OPLSAA/406 @/atom:OPLSAA/81
    @/angle:OPLSAA/407-406-82 @/atom:OPLSAA/407 @/atom:OPLSAA/406 @/atom:OPLSAA/82
    @/angle:OPLSAA/407-406-431 @/atom:OPLSAA/407 @/atom:OPLSAA/406 @/atom:OPLSAA/431
    @/angle:OPLSAA/407-406-735 @/atom:OPLSAA/407 @/atom:OPLSAA/406 @/atom:OPLSAA/735
    @/angle:OPLSAA/407-406-738 @/atom:OPLSAA/407 @/atom:OPLSAA/406 @/atom:OPLSAA/738
    @/angle:OPLSAA/80-406-408 @/atom:OPLSAA/80 @/atom:OPLSAA/406 @/atom:OPLSAA/408
    @/angle:OPLSAA/81-406-408 @/atom:OPLSAA/81 @/atom:OPLSAA/406 @/atom:OPLSAA/408
    @/angle:OPLSAA/82-406-408 @/atom:OPLSAA/82 @/atom:OPLSAA/406 @/atom:OPLSAA/408
    @/angle:OPLSAA/431-406-408 @/atom:OPLSAA/431 @/atom:OPLSAA/406 @/atom:OPLSAA/408
    @/angle:OPLSAA/735-406-408 @/atom:OPLSAA/735 @/atom:OPLSAA/406 @/atom:OPLSAA/408
    @/angle:OPLSAA/738-406-408 @/atom:OPLSAA/738 @/atom:OPLSAA/406 @/atom:OPLSAA/408
    @/angle:OPLSAA/407-406-408 @/atom:OPLSAA/407 @/atom:OPLSAA/406 @/atom:OPLSAA/408
    @/angle:OPLSAA/80-406-732 @/atom:OPLSAA/80 @/atom:OPLSAA/406 @/atom:OPLSAA/732
    @/angle:OPLSAA/81-406-732 @/atom:OPLSAA/81 @/atom:OPLSAA/406 @/atom:OPLSAA/732
    @/angle:OPLSAA/82-406-732 @/atom:OPLSAA/82 @/atom:OPLSAA/406 @/atom:OPLSAA/732
    @/angle:OPLSAA/431-406-732 @/atom:OPLSAA/431 @/atom:OPLSAA/406 @/atom:OPLSAA/732
    @/angle:OPLSAA/735-406-732 @/atom:OPLSAA/735 @/atom:OPLSAA/406 @/atom:OPLSAA/732
    @/angle:OPLSAA/738-406-732 @/atom:OPLSAA/738 @/atom:OPLSAA/406 @/atom:OPLSAA/732
    @/angle:OPLSAA/407-406-732 @/atom:OPLSAA/407 @/atom:OPLSAA/406 @/atom:OPLSAA/732
    @/angle:OPLSAA/80-406-85 @/atom:OPLSAA/80 @/atom:OPLSAA/406 @/atom:OPLSAA/85
    @/angle:OPLSAA/80-406-410 @/atom:OPLSAA/80 @/atom:OPLSAA/406 @/atom:OPLSAA/410
    @/angle:OPLSAA/80-406-741 @/atom:OPLSAA/80 @/atom:OPLSAA/406 @/atom:OPLSAA/741
    @/angle:OPLSAA/81-406-85 @/atom:OPLSAA/81 @/atom:OPLSAA/406 @/atom:OPLSAA/85
    @/angle:OPLSAA/81-406-410 @/atom:OPLSAA/81 @/atom:OPLSAA/406 @/atom:OPLSAA/410
    @/angle:OPLSAA/81-406-741 @/atom:OPLSAA/81 @/atom:OPLSAA/406 @/atom:OPLSAA/741
    @/angle:OPLSAA/82-406-85 @/atom:OPLSAA/82 @/atom:OPLSAA/406 @/atom:OPLSAA/85
    @/angle:OPLSAA/82-406-410 @/atom:OPLSAA/82 @/atom:OPLSAA/406 @/atom:OPLSAA/410
    @/angle:OPLSAA/82-406-741 @/atom:OPLSAA/82 @/atom:OPLSAA/406 @/atom:OPLSAA/741
    @/angle:OPLSAA/431-406-85 @/atom:OPLSAA/431 @/atom:OPLSAA/406 @/atom:OPLSAA/85
    @/angle:OPLSAA/431-406-410 @/atom:OPLSAA/431 @/atom:OPLSAA/406 @/atom:OPLSAA/410
    @/angle:OPLSAA/431-406-741 @/atom:OPLSAA/431 @/atom:OPLSAA/406 @/atom:OPLSAA/741
    @/angle:OPLSAA/735-406-85 @/atom:OPLSAA/735 @/atom:OPLSAA/406 @/atom:OPLSAA/85
    @/angle:OPLSAA/735-406-410 @/atom:OPLSAA/735 @/atom:OPLSAA/406 @/atom:OPLSAA/410
    @/angle:OPLSAA/735-406-741 @/atom:OPLSAA/735 @/atom:OPLSAA/406 @/atom:OPLSAA/741
    @/angle:OPLSAA/738-406-85 @/atom:OPLSAA/738 @/atom:OPLSAA/406 @/atom:OPLSAA/85
    @/angle:OPLSAA/738-406-410 @/atom:OPLSAA/738 @/atom:OPLSAA/406 @/atom:OPLSAA/410
    @/angle:OPLSAA/738-406-741 @/atom:OPLSAA/738 @/atom:OPLSAA/406 @/atom:OPLSAA/741
    @/angle:OPLSAA/85-406-85 @/atom:OPLSAA/85 @/atom:OPLSAA/406 @/atom:OPLSAA/85
    @/angle:OPLSAA/85-406-410 @/atom:OPLSAA/85 @/atom:OPLSAA/406 @/atom:OPLSAA/410
    @/angle:OPLSAA/85-406-741 @/atom:OPLSAA/85 @/atom:OPLSAA/406 @/atom:OPLSAA/741
    @/angle:OPLSAA/410-406-85 @/atom:OPLSAA/410 @/atom:OPLSAA/406 @/atom:OPLSAA/85
    @/angle:OPLSAA/410-406-410 @/atom:OPLSAA/410 @/atom:OPLSAA/406 @/atom:OPLSAA/410
    @/angle:OPLSAA/410-406-741 @/atom:OPLSAA/410 @/atom:OPLSAA/406 @/atom:OPLSAA/741
    @/angle:OPLSAA/741-406-85 @/atom:OPLSAA/741 @/atom:OPLSAA/406 @/atom:OPLSAA/85
    @/angle:OPLSAA/741-406-410 @/atom:OPLSAA/741 @/atom:OPLSAA/406 @/atom:OPLSAA/410
    @/angle:OPLSAA/741-406-741 @/atom:OPLSAA/741 @/atom:OPLSAA/406 @/atom:OPLSAA/741
    @/angle:OPLSAA/407-406-85 @/atom:OPLSAA/407 @/atom:OPLSAA/406 @/atom:OPLSAA/85
    @/angle:OPLSAA/407-406-410 @/atom:OPLSAA/407 @/atom:OPLSAA/406 @/atom:OPLSAA/410
    @/angle:OPLSAA/407-406-741 @/atom:OPLSAA/407 @/atom:OPLSAA/406 @/atom:OPLSAA/741
    @/angle:OPLSAA/408-406-85 @/atom:OPLSAA/408 @/atom:OPLSAA/406 @/atom:OPLSAA/85
    @/angle:OPLSAA/408-406-410 @/atom:OPLSAA/408 @/atom:OPLSAA/406 @/atom:OPLSAA/410
    @/angle:OPLSAA/408-406-741 @/atom:OPLSAA/408 @/atom:OPLSAA/406 @/atom:OPLSAA/741
    @/angle:OPLSAA/406-80-406 @/atom:OPLSAA/406 @/atom:OPLSAA/80 @/atom:OPLSAA/406
    @/angle:OPLSAA/406-81-406 @/atom:OPLSAA/406 @/atom:OPLSAA/81 @/atom:OPLSAA/406
    @/angle:OPLSAA/406-82-406 @/atom:OPLSAA/406 @/atom:OPLSAA/82 @/atom:OPLSAA/406
    @/angle:OPLSAA/406-431-406 @/atom:OPLSAA/406 @/atom:OPLSAA/431 @/atom:OPLSAA/406
    @/angle:OPLSAA/406-735-406 @/atom:OPLSAA/406 @/atom:OPLSAA/735 @/atom:OPLSAA/406
    @/angle:OPLSAA/406-738-406 @/atom:OPLSAA/406 @/atom:OPLSAA/738 @/atom:OPLSAA/406
    @/angle:OPLSAA/80-80-80 @/atom:OPLSAA/80 @/atom:OPLSAA/80 @/atom:OPLSAA/80
    @/angle:OPLSAA/80-80-81 @/atom:OPLSAA/80 @/atom:OPLSAA/80 @/atom:OPLSAA/81
    @/angle:OPLSAA/80-80-82 @/atom:OPLSAA/80 @/atom:OPLSAA/80 @/atom:OPLSAA/82
    @/angle:OPLSAA/80-80-431 @/atom:OPLSAA/80 @/atom:OPLSAA/80 @/atom:OPLSAA/431
    @/angle:OPLSAA/80-80-735 @/atom:OPLSAA/80 @/atom:OPLSAA/80 @/atom:OPLSAA/735
    @/angle:OPLSAA/80-80-738 @/atom:OPLSAA/80 @/atom:OPLSAA/80 @/atom:OPLSAA/738
    @/angle:OPLSAA/80-81-80 @/atom:OPLSAA/80 @/atom:OPLSAA/81 @/atom:OPLSAA/80
    @/angle:OPLSAA/80-81-81 @/atom:OPLSAA/80 @/atom:OPLSAA/81 @/atom:OPLSAA/81
    @/angle:OPLSAA/80-81-82 @/atom:OPLSAA/80 @/atom:OPLSAA/81 @/atom:OPLSAA/82
    @/angle:OPLSAA/80-81-431 @/atom:OPLSAA/80 @/atom:OPLSAA/81 @/atom:OPLSAA/431
    @/angle:OPLSAA/80-81-735 @/atom:OPLSAA/80 @/atom:OPLSAA/81 @/atom:OPLSAA/735
    @/angle:OPLSAA/80-81-738 @/atom:OPLSAA/80 @/atom:OPLSAA/81 @/atom:OPLSAA/738
    @/angle:OPLSAA/80-82-80 @/atom:OPLSAA/80 @/atom:OPLSAA/82 @/atom:OPLSAA/80
    @/angle:OPLSAA/80-82-81 @/atom:OPLSAA/80 @/atom:OPLSAA/82 @/atom:OPLSAA/81
    @/angle:OPLSAA/80-82-82 @/atom:OPLSAA/80 @/atom:OPLSAA/82 @/atom:OPLSAA/82
    @/angle:OPLSAA/80-82-431 @/atom:OPLSAA/80 @/atom:OPLSAA/82 @/atom:OPLSAA/431
    @/angle:OPLSAA/80-82-735 @/atom:OPLSAA/80 @/atom:OPLSAA/82 @/atom:OPLSAA/735
    @/angle:OPLSAA/80-82-738 @/atom:OPLSAA/80 @/atom:OPLSAA/82 @/atom:OPLSAA/738
    @/angle:OPLSAA/80-431-80 @/atom:OPLSAA/80 @/atom:OPLSAA/431 @/atom:OPLSAA/80
    @/angle:OPLSAA/80-431-81 @/atom:OPLSAA/80 @/atom:OPLSAA/431 @/atom:OPLSAA/81
    @/angle:OPLSAA/80-431-82 @/atom:OPLSAA/80 @/atom:OPLSAA/431 @/atom:OPLSAA/82
    @/angle:OPLSAA/80-431-431 @/atom:OPLSAA/80 @/atom:OPLSAA/431 @/atom:OPLSAA/431
    @/angle:OPLSAA/80-431-735 @/atom:OPLSAA/80 @/atom:OPLSAA/431 @/atom:OPLSAA/735
    @/angle:OPLSAA/80-431-738 @/atom:OPLSAA/80 @/atom:OPLSAA/431 @/atom:OPLSAA/738
    @/angle:OPLSAA/80-735-80 @/atom:OPLSAA/80 @/atom:OPLSAA/735 @/atom:OPLSAA/80
    @/angle:OPLSAA/80-735-81 @/atom:OPLSAA/80 @/atom:OPLSAA/735 @/atom:OPLSAA/81
    @/angle:OPLSAA/80-735-82 @/atom:OPLSAA/80 @/atom:OPLSAA/735 @/atom:OPLSAA/82
    @/angle:OPLSAA/80-735-431 @/atom:OPLSAA/80 @/atom:OPLSAA/735 @/atom:OPLSAA/431
    @/angle:OPLSAA/80-735-735 @/atom:OPLSAA/80 @/atom:OPLSAA/735 @/atom:OPLSAA/735
    @/angle:OPLSAA/80-735-738 @/atom:OPLSAA/80 @/atom:OPLSAA/735 @/atom:OPLSAA/738
    @/angle:OPLSAA/80-738-80 @/atom:OPLSAA/80 @/atom:OPLSAA/738 @/atom:OPLSAA/80
    @/angle:OPLSAA/80-738-81 @/atom:OPLSAA/80 @/atom:OPLSAA/738 @/atom:OPLSAA/81
    @/angle:OPLSAA/80-738-82 @/atom:OPLSAA/80 @/atom:OPLSAA/738 @/atom:OPLSAA/82
    @/angle:OPLSAA/80-738-431 @/atom:OPLSAA/80 @/atom:OPLSAA/738 @/atom:OPLSAA/431
    @/angle:OPLSAA/80-738-735 @/atom:OPLSAA/80 @/atom:OPLSAA/738 @/atom:OPLSAA/735
    @/angle:OPLSAA/80-738-738 @/atom:OPLSAA/80 @/atom:OPLSAA/738 @/atom:OPLSAA/738
    @/angle:OPLSAA/81-80-80 @/atom:OPLSAA/81 @/atom:OPLSAA/80 @/atom:OPLSAA/80
    @/angle:OPLSAA/81-80-81 @/atom:OPLSAA/81 @/atom:OPLSAA/80 @/atom:OPLSAA/81
    @/angle:OPLSAA/81-80-82 @/atom:OPLSAA/81 @/atom:OPLSAA/80 @/atom:OPLSAA/82
    @/angle:OPLSAA/81-80-431 @/atom:OPLSAA/81 @/atom:OPLSAA/80 @/atom:OPLSAA/431
    @/angle:OPLSAA/81-80-735 @/atom:OPLSAA/81 @/atom:OPLSAA/80 @/atom:OPLSAA/735
    @/angle:OPLSAA/81-80-738 @/atom:OPLSAA/81 @/atom:OPLSAA/80 @/atom:OPLSAA/738
    @/angle:OPLSAA/81-81-80 @/atom:OPLSAA/81 @/atom:OPLSAA/81 @/atom:OPLSAA/80
    @/angle:OPLSAA/81-81-81 @/atom:OPLSAA/81 @/atom:OPLSAA/81 @/atom:OPLSAA/81
    @/angle:OPLSAA/81-81-82 @/atom:OPLSAA/81 @/atom:OPLSAA/81 @/atom:OPLSAA/82
    @/angle:OPLSAA/81-81-431 @/atom:OPLSAA/81 @/atom:OPLSAA/81 @/atom:OPLSAA/431
    @/angle:OPLSAA/81-81-735 @/atom:OPLSAA/81 @/atom:OPLSAA/81 @/atom:OPLSAA/735
    @/angle:OPLSAA/81-81-738 @/atom:OPLSAA/81 @/atom:OPLSAA/81 @/atom:OPLSAA/738
    @/angle:OPLSAA/81-82-80 @/atom:OPLSAA/81 @/atom:OPLSAA/82 @/atom:OPLSAA/80
    @/angle:OPLSAA/81-82-81 @/atom:OPLSAA/81 @/atom:OPLSAA/82 @/atom:OPLSAA/81
    @/angle:OPLSAA/81-82-82 @/atom:OPLSAA/81 @/atom:OPLSAA/82 @/atom:OPLSAA/82
    @/angle:OPLSAA/81-82-431 @/atom:OPLSAA/81 @/atom:OPLSAA/82 @/atom:OPLSAA/431
    @/angle:OPLSAA/81-82-735 @/atom:OPLSAA/81 @/atom:OPLSAA/82 @/atom:OPLSAA/735
    @/angle:OPLSAA/81-82-738 @/atom:OPLSAA/81 @/atom:OPLSAA/82 @/atom:OPLSAA/738
    @/angle:OPLSAA/81-431-80 @/atom:OPLSAA/81 @/atom:OPLSAA/431 @/atom:OPLSAA/80
    @/angle:OPLSAA/81-431-81 @/atom:OPLSAA/81 @/atom:OPLSAA/431 @/atom:OPLSAA/81
    @/angle:OPLSAA/81-431-82 @/atom:OPLSAA/81 @/atom:OPLSAA/431 @/atom:OPLSAA/82
    @/angle:OPLSAA/81-431-431 @/atom:OPLSAA/81 @/atom:OPLSAA/431 @/atom:OPLSAA/431
    @/angle:OPLSAA/81-431-735 @/atom:OPLSAA/81 @/atom:OPLSAA/431 @/atom:OPLSAA/735
    @/angle:OPLSAA/81-431-738 @/atom:OPLSAA/81 @/atom:OPLSAA/431 @/atom:OPLSAA/738
    @/angle:OPLSAA/81-735-80 @/atom:OPLSAA/81 @/atom:OPLSAA/735 @/atom:OPLSAA/80
    @/angle:OPLSAA/81-735-81 @/atom:OPLSAA/81 @/atom:OPLSAA/735 @/atom:OPLSAA/81
    @/angle:OPLSAA/81-735-82 @/atom:OPLSAA/81 @/atom:OPLSAA/735 @/atom:OPLSAA/82
    @/angle:OPLSAA/81-735-431 @/atom:OPLSAA/81 @/atom:OPLSAA/735 @/atom:OPLSAA/431
    @/angle:OPLSAA/81-735-735 @/atom:OPLSAA/81 @/atom:OPLSAA/735 @/atom:OPLSAA/735
    @/angle:OPLSAA/81-735-738 @/atom:OPLSAA/81 @/atom:OPLSAA/735 @/atom:OPLSAA/738
    @/angle:OPLSAA/81-738-80 @/atom:OPLSAA/81 @/atom:OPLSAA/738 @/atom:OPLSAA/80
    @/angle:OPLSAA/81-738-81 @/atom:OPLSAA/81 @/atom:OPLSAA/738 @/atom:OPLSAA/81
    @/angle:OPLSAA/81-738-82 @/atom:OPLSAA/81 @/atom:OPLSAA/738 @/atom:OPLSAA/82
    @/angle:OPLSAA/81-738-431 @/atom:OPLSAA/81 @/atom:OPLSAA/738 @/atom:OPLSAA/431
    @/angle:OPLSAA/81-738-735 @/atom:OPLSAA/81 @/atom:OPLSAA/738 @/atom:OPLSAA/735
    @/angle:OPLSAA/81-738-738 @/atom:OPLSAA/81 @/atom:OPLSAA/738 @/atom:OPLSAA/738
    @/angle:OPLSAA/82-80-80 @/atom:OPLSAA/82 @/atom:OPLSAA/80 @/atom:OPLSAA/80
    @/angle:OPLSAA/82-80-81 @/atom:OPLSAA/82 @/atom:OPLSAA/80 @/atom:OPLSAA/81
    @/angle:OPLSAA/82-80-82 @/atom:OPLSAA/82 @/atom:OPLSAA/80 @/atom:OPLSAA/82
    @/angle:OPLSAA/82-80-431 @/atom:OPLSAA/82 @/atom:OPLSAA/80 @/atom:OPLSAA/431
    @/angle:OPLSAA/82-80-735 @/atom:OPLSAA/82 @/atom:OPLSAA/80 @/atom:OPLSAA/735
    @/angle:OPLSAA/82-80-738 @/atom:OPLSAA/82 @/atom:OPLSAA/80 @/atom:OPLSAA/738
    @/angle:OPLSAA/82-81-80 @/atom:OPLSAA/82 @/atom:OPLSAA/81 @/atom:OPLSAA/80
    @/angle:OPLSAA/82-81-81 @/atom:OPLSAA/82 @/atom:OPLSAA/81 @/atom:OPLSAA/81
    @/angle:OPLSAA/82-81-82 @/atom:OPLSAA/82 @/atom:OPLSAA/81 @/atom:OPLSAA/82
    @/angle:OPLSAA/82-81-431 @/atom:OPLSAA/82 @/atom:OPLSAA/81 @/atom:OPLSAA/431
    @/angle:OPLSAA/82-81-735 @/atom:OPLSAA/82 @/atom:OPLSAA/81 @/atom:OPLSAA/735
    @/angle:OPLSAA/82-81-738 @/atom:OPLSAA/82 @/atom:OPLSAA/81 @/atom:OPLSAA/738
    @/angle:OPLSAA/82-82-80 @/atom:OPLSAA/82 @/atom:OPLSAA/82 @/atom:OPLSAA/80
    @/angle:OPLSAA/82-82-81 @/atom:OPLSAA/82 @/atom:OPLSAA/82 @/atom:OPLSAA/81
    @/angle:OPLSAA/82-82-82 @/atom:OPLSAA/82 @/atom:OPLSAA/82 @/atom:OPLSAA/82
    @/angle:OPLSAA/82-82-431 @/atom:OPLSAA/82 @/atom:OPLSAA/82 @/atom:OPLSAA/431
    @/angle:OPLSAA/82-82-735 @/atom:OPLSAA/82 @/atom:OPLSAA/82 @/atom:OPLSAA/735
    @/angle:OPLSAA/82-82-738 @/atom:OPLSAA/82 @/atom:OPLSAA/82 @/atom:OPLSAA/738
    @/angle:OPLSAA/82-431-80 @/atom:OPLSAA/82 @/atom:OPLSAA/431 @/atom:OPLSAA/80
    @/angle:OPLSAA/82-431-81 @/atom:OPLSAA/82 @/atom:OPLSAA/431 @/atom:OPLSAA/81
    @/angle:OPLSAA/82-431-82 @/atom:OPLSAA/82 @/atom:OPLSAA/431 @/atom:OPLSAA/82
    @/angle:OPLSAA/82-431-431 @/atom:OPLSAA/82 @/atom:OPLSAA/431 @/atom:OPLSAA/431
    @/angle:OPLSAA/82-431-735 @/atom:OPLSAA/82 @/atom:OPLSAA/431 @/atom:OPLSAA/735
    @/angle:OPLSAA/82-431-738 @/atom:OPLSAA/82 @/atom:OPLSAA/431 @/atom:OPLSAA/738
    @/angle:OPLSAA/82-735-80 @/atom:OPLSAA/82 @/atom:OPLSAA/735 @/atom:OPLSAA/80
    @/angle:OPLSAA/82-735-81 @/atom:OPLSAA/82 @/atom:OPLSAA/735 @/atom:OPLSAA/81
    @/angle:OPLSAA/82-735-82 @/atom:OPLSAA/82 @/atom:OPLSAA/735 @/atom:OPLSAA/82
    @/angle:OPLSAA/82-735-431 @/atom:OPLSAA/82 @/atom:OPLSAA/735 @/atom:OPLSAA/431
    @/angle:OPLSAA/82-735-735 @/atom:OPLSAA/82 @/atom:OPLSAA/735 @/atom:OPLSAA/735
    @/angle:OPLSAA/82-735-738 @/atom:OPLSAA/82 @/atom:OPLSAA/735 @/atom:OPLSAA/738
    @/angle:OPLSAA/82-738-80 @/atom:OPLSAA/82 @/atom:OPLSAA/738 @/atom:OPLSAA/80
    @/angle:OPLSAA/82-738-81 @/atom:OPLSAA/82 @/atom:OPLSAA/738 @/atom:OPLSAA/81
    @/angle:OPLSAA/82-738-82 @/atom:OPLSAA/82 @/atom:OPLSAA/738 @/atom:OPLSAA/82
    @/angle:OPLSAA/82-738-431 @/atom:OPLSAA/82 @/atom:OPLSAA/738 @/atom:OPLSAA/431
    @/angle:OPLSAA/82-738-735 @/atom:OPLSAA/82 @/atom:OPLSAA/738 @/atom:OPLSAA/735
    @/angle:OPLSAA/82-738-738 @/atom:OPLSAA/82 @/atom:OPLSAA/738 @/atom:OPLSAA/738
    @/angle:OPLSAA/431-80-80 @/atom:OPLSAA/431 @/atom:OPLSAA/80 @/atom:OPLSAA/80
    @/angle:OPLSAA/431-80-81 @/atom:OPLSAA/431 @/atom:OPLSAA/80 @/atom:OPLSAA/81
    @/angle:OPLSAA/431-80-82 @/atom:OPLSAA/431 @/atom:OPLSAA/80 @/atom:OPLSAA/82
    @/angle:OPLSAA/431-80-431 @/atom:OPLSAA/431 @/atom:OPLSAA/80 @/atom:OPLSAA/431
    @/angle:OPLSAA/431-80-735 @/atom:OPLSAA/431 @/atom:OPLSAA/80 @/atom:OPLSAA/735
    @/angle:OPLSAA/431-80-738 @/atom:OPLSAA/431 @/atom:OPLSAA/80 @/atom:OPLSAA/738
    @/angle:OPLSAA/431-81-80 @/atom:OPLSAA/431 @/atom:OPLSAA/81 @/atom:OPLSAA/80
    @/angle:OPLSAA/431-81-81 @/atom:OPLSAA/431 @/atom:OPLSAA/81 @/atom:OPLSAA/81
    @/angle:OPLSAA/431-81-82 @/atom:OPLSAA/431 @/atom:OPLSAA/81 @/atom:OPLSAA/82
    @/angle:OPLSAA/431-81-431 @/atom:OPLSAA/431 @/atom:OPLSAA/81 @/atom:OPLSAA/431
    @/angle:OPLSAA/431-81-735 @/atom:OPLSAA/431 @/atom:OPLSAA/81 @/atom:OPLSAA/735
    @/angle:OPLSAA/431-81-738 @/atom:OPLSAA/431 @/atom:OPLSAA/81 @/atom:OPLSAA/738
    @/angle:OPLSAA/431-82-80 @/atom:OPLSAA/431 @/atom:OPLSAA/82 @/atom:OPLSAA/80
    @/angle:OPLSAA/431-82-81 @/atom:OPLSAA/431 @/atom:OPLSAA/82 @/atom:OPLSAA/81
    @/angle:OPLSAA/431-82-82 @/atom:OPLSAA/431 @/atom:OPLSAA/82 @/atom:OPLSAA/82
    @/angle:OPLSAA/431-82-431 @/atom:OPLSAA/431 @/atom:OPLSAA/82 @/atom:OPLSAA/431
    @/angle:OPLSAA/431-82-735 @/atom:OPLSAA/431 @/atom:OPLSAA/82 @/atom:OPLSAA/735
    @/angle:OPLSAA/431-82-738 @/atom:OPLSAA/431 @/atom:OPLSAA/82 @/atom:OPLSAA/738
    @/angle:OPLSAA/431-431-80 @/atom:OPLSAA/431 @/atom:OPLSAA/431 @/atom:OPLSAA/80
    @/angle:OPLSAA/431-431-81 @/atom:OPLSAA/431 @/atom:OPLSAA/431 @/atom:OPLSAA/81
    @/angle:OPLSAA/431-431-82 @/atom:OPLSAA/431 @/atom:OPLSAA/431 @/atom:OPLSAA/82
    @/angle:OPLSAA/431-431-431 @/atom:OPLSAA/431 @/atom:OPLSAA/431 @/atom:OPLSAA/431
    @/angle:OPLSAA/431-431-735 @/atom:OPLSAA/431 @/atom:OPLSAA/431 @/atom:OPLSAA/735
    @/angle:OPLSAA/431-431-738 @/atom:OPLSAA/431 @/atom:OPLSAA/431 @/atom:OPLSAA/738
    @/angle:OPLSAA/431-735-80 @/atom:OPLSAA/431 @/atom:OPLSAA/735 @/atom:OPLSAA/80
    @/angle:OPLSAA/431-735-81 @/atom:OPLSAA/431 @/atom:OPLSAA/735 @/atom:OPLSAA/81
    @/angle:OPLSAA/431-735-82 @/atom:OPLSAA/431 @/atom:OPLSAA/735 @/atom:OPLSAA/82
    @/angle:OPLSAA/431-735-431 @/atom:OPLSAA/431 @/atom:OPLSAA/735 @/atom:OPLSAA/431
    @/angle:OPLSAA/431-735-735 @/atom:OPLSAA/431 @/atom:OPLSAA/735 @/atom:OPLSAA/735
    @/angle:OPLSAA/431-735-738 @/atom:OPLSAA/431 @/atom:OPLSAA/735 @/atom:OPLSAA/738
    @/angle:OPLSAA/431-738-80 @/atom:OPLSAA/431 @/atom:OPLSAA/738 @/atom:OPLSAA/80
    @/angle:OPLSAA/431-738-81 @/atom:OPLSAA/431 @/atom:OPLSAA/738 @/atom:OPLSAA/81
    @/angle:OPLSAA/431-738-82 @/atom:OPLSAA/431 @/atom:OPLSAA/738 @/atom:OPLSAA/82
    @/angle:OPLSAA/431-738-431 @/atom:OPLSAA/431 @/atom:OPLSAA/738 @/atom:OPLSAA/431
    @/angle:OPLSAA/431-738-735 @/atom:OPLSAA/431 @/atom:OPLSAA/738 @/atom:OPLSAA/735
    @/angle:OPLSAA/431-738-738 @/atom:OPLSAA/431 @/atom:OPLSAA/738 @/atom:OPLSAA/738
    @/angle:OPLSAA/735-80-80 @/atom:OPLSAA/735 @/atom:OPLSAA/80 @/atom:OPLSAA/80
    @/angle:OPLSAA/735-80-81 @/atom:OPLSAA/735 @/atom:OPLSAA/80 @/atom:OPLSAA/81
    @/angle:OPLSAA/735-80-82 @/atom:OPLSAA/735 @/atom:OPLSAA/80 @/atom:OPLSAA/82
    @/angle:OPLSAA/735-80-431 @/atom:OPLSAA/735 @/atom:OPLSAA/80 @/atom:OPLSAA/431
    @/angle:OPLSAA/735-80-735 @/atom:OPLSAA/735 @/atom:OPLSAA/80 @/atom:OPLSAA/735
    @/angle:OPLSAA/735-80-738 @/atom:OPLSAA/735 @/atom:OPLSAA/80 @/atom:OPLSAA/738
    @/angle:OPLSAA/735-81-80 @/atom:OPLSAA/735 @/atom:OPLSAA/81 @/atom:OPLSAA/80
    @/angle:OPLSAA/735-81-81 @/atom:OPLSAA/735 @/atom:OPLSAA/81 @/atom:OPLSAA/81
    @/angle:OPLSAA/735-81-82 @/atom:OPLSAA/735 @/atom:OPLSAA/81 @/atom:OPLSAA/82
    @/angle:OPLSAA/735-81-431 @/atom:OPLSAA/735 @/atom:OPLSAA/81 @/atom:OPLSAA/431
    @/angle:OPLSAA/735-81-735 @/atom:OPLSAA/735 @/atom:OPLSAA/81 @/atom:OPLSAA/735
    @/angle:OPLSAA/735-81-738 @/atom:OPLSAA/735 @/atom:OPLSAA/81 @/atom:OPLSAA/738
    @/angle:OPLSAA/735-82-80 @/atom:OPLSAA/735 @/atom:OPLSAA/82 @/atom:OPLSAA/80
    @/angle:OPLSAA/735-82-81 @/atom:OPLSAA/735 @/atom:OPLSAA/82 @/atom:OPLSAA/81
    @/angle:OPLSAA/735-82-82 @/atom:OPLSAA/735 @/atom:OPLSAA/82 @/atom:OPLSAA/82
    @/angle:OPLSAA/735-82-431 @/atom:OPLSAA/735 @/atom:OPLSAA/82 @/atom:OPLSAA/431
    @/angle:OPLSAA/735-82-735 @/atom:OPLSAA/735 @/atom:OPLSAA/82 @/atom:OPLSAA/735
    @/angle:OPLSAA/735-82-738 @/atom:OPLSAA/735 @/atom:OPLSAA/82 @/atom:OPLSAA/738
    @/angle:OPLSAA/735-431-80 @/atom:OPLSAA/735 @/atom:OPLSAA/431 @/atom:OPLSAA/80
    @/angle:OPLSAA/735-431-81 @/atom:OPLSAA/735 @/atom:OPLSAA/431 @/atom:OPLSAA/81
    @/angle:OPLSAA/735-431-82 @/atom:OPLSAA/735 @/atom:OPLSAA/431 @/atom:OPLSAA/82
    @/angle:OPLSAA/735-431-431 @/atom:OPLSAA/735 @/atom:OPLSAA/431 @/atom:OPLSAA/431
    @/angle:OPLSAA/735-431-735 @/atom:OPLSAA/735 @/atom:OPLSAA/431 @/atom:OPLSAA/735
    @/angle:OPLSAA/735-431-738 @/atom:OPLSAA/735 @/atom:OPLSAA/431 @/atom:OPLSAA/738
    @/angle:OPLSAA/735-735-80 @/atom:OPLSAA/735 @/atom:OPLSAA/735 @/atom:OPLSAA/80
    @/angle:OPLSAA/735-735-81 @/atom:OPLSAA/735 @/atom:OPLSAA/735 @/atom:OPLSAA/81
    @/angle:OPLSAA/735-735-82 @/atom:OPLSAA/735 @/atom:OPLSAA/735 @/atom:OPLSAA/82
    @/angle:OPLSAA/735-735-431 @/atom:OPLSAA/735 @/atom:OPLSAA/735 @/atom:OPLSAA/431
    @/angle:OPLSAA/735-735-735 @/atom:OPLSAA/735 @/atom:OPLSAA/735 @/atom:OPLSAA/735
    @/angle:OPLSAA/735-735-738 @/atom:OPLSAA/735 @/atom:OPLSAA/735 @/atom:OPLSAA/738
    @/angle:OPLSAA/735-738-80 @/atom:OPLSAA/735 @/atom:OPLSAA/738 @/atom:OPLSAA/80
    @/angle:OPLSAA/735-738-81 @/atom:OPLSAA/735 @/atom:OPLSAA/738 @/atom:OPLSAA/81
    @/angle:OPLSAA/735-738-82 @/atom:OPLSAA/735 @/atom:OPLSAA/738 @/atom:OPLSAA/82
    @/angle:OPLSAA/735-738-431 @/atom:OPLSAA/735 @/atom:OPLSAA/738 @/atom:OPLSAA/431
    @/angle:OPLSAA/735-738-735 @/atom:OPLSAA/735 @/atom:OPLSAA/738 @/atom:OPLSAA/735
    @/angle:OPLSAA/735-738-738 @/atom:OPLSAA/735 @/atom:OPLSAA/738 @/atom:OPLSAA/738
    @/angle:OPLSAA/738-80-80 @/atom:OPLSAA/738 @/atom:OPLSAA/80 @/atom:OPLSAA/80
    @/angle:OPLSAA/738-80-81 @/atom:OPLSAA/738 @/atom:OPLSAA/80 @/atom:OPLSAA/81
    @/angle:OPLSAA/738-80-82 @/atom:OPLSAA/738 @/atom:OPLSAA/80 @/atom:OPLSAA/82
    @/angle:OPLSAA/738-80-431 @/atom:OPLSAA/738 @/atom:OPLSAA/80 @/atom:OPLSAA/431
    @/angle:OPLSAA/738-80-735 @/atom:OPLSAA/738 @/atom:OPLSAA/80 @/atom:OPLSAA/735
    @/angle:OPLSAA/738-80-738 @/atom:OPLSAA/738 @/atom:OPLSAA/80 @/atom:OPLSAA/738
    @/angle:OPLSAA/738-81-80 @/atom:OPLSAA/738 @/atom:OPLSAA/81 @/atom:OPLSAA/80
    @/angle:OPLSAA/738-81-81 @/atom:OPLSAA/738 @/atom:OPLSAA/81 @/atom:OPLSAA/81
    @/angle:OPLSAA/738-81-82 @/atom:OPLSAA/738 @/atom:OPLSAA/81 @/atom:OPLSAA/82
    @/angle:OPLSAA/738-81-431 @/atom:OPLSAA/738 @/atom:OPLSAA/81 @/atom:OPLSAA/431
    @/angle:OPLSAA/738-81-735 @/atom:OPLSAA/738 @/atom:OPLSAA/81 @/atom:OPLSAA/735
    @/angle:OPLSAA/738-81-738 @/atom:OPLSAA/738 @/atom:OPLSAA/81 @/atom:OPLSAA/738
    @/angle:OPLSAA/738-82-80 @/atom:OPLSAA/738 @/atom:OPLSAA/82 @/atom:OPLSAA/80
    @/angle:OPLSAA/738-82-81 @/atom:OPLSAA/738 @/atom:OPLSAA/82 @/atom:OPLSAA/81
    @/angle:OPLSAA/738-82-82 @/atom:OPLSAA/738 @/atom:OPLSAA/82 @/atom:OPLSAA/82
    @/angle:OPLSAA/738-82-431 @/atom:OPLSAA/738 @/atom:OPLSAA/82 @/atom:OPLSAA/431
    @/angle:OPLSAA/738-82-735 @/atom:OPLSAA/738 @/atom:OPLSAA/82 @/atom:OPLSAA/735
    @/angle:OPLSAA/738-82-738 @/atom:OPLSAA/738 @/atom:OPLSAA/82 @/atom:OPLSAA/738
    @/angle:OPLSAA/738-431-80 @/atom:OPLSAA/738 @/atom:OPLSAA/431 @/atom:OPLSAA/80
    @/angle:OPLSAA/738-431-81 @/atom:OPLSAA/738 @/atom:OPLSAA/431 @/atom:OPLSAA/81
    @/angle:OPLSAA/738-431-82 @/atom:OPLSAA/738 @/atom:OPLSAA/431 @/atom:OPLSAA/82
    @/angle:OPLSAA/738-431-431 @/atom:OPLSAA/738 @/atom:OPLSAA/431 @/atom:OPLSAA/431
    @/angle:OPLSAA/738-431-735 @/atom:OPLSAA/738 @/atom:OPLSAA/431 @/atom:OPLSAA/735
    @/angle:OPLSAA/738-431-738 @/atom:OPLSAA/738 @/atom:OPLSAA/431 @/atom:OPLSAA/738
    @/angle:OPLSAA/738-735-80 @/atom:OPLSAA/738 @/atom:OPLSAA/735 @/atom:OPLSAA/80
    @/angle:OPLSAA/738-735-81 @/atom:OPLSAA/738 @/atom:OPLSAA/735 @/atom:OPLSAA/81
    @/angle:OPLSAA/738-735-82 @/atom:OPLSAA/738 @/atom:OPLSAA/735 @/atom:OPLSAA/82
    @/angle:OPLSAA/738-735-431 @/atom:OPLSAA/738 @/atom:OPLSAA/735 @/atom:OPLSAA/431
    @/angle:OPLSAA/738-735-735 @/atom:OPLSAA/738 @/atom:OPLSAA/735 @/atom:OPLSAA/735
    @/angle:OPLSAA/738-735-738 @/atom:OPLSAA/738 @/atom:OPLSAA/735 @/atom:OPLSAA/738
    @/angle:OPLSAA/738-738-80 @/atom:OPLSAA/738 @/atom:OPLSAA/738 @/atom:OPLSAA/80
    @/angle:OPLSAA/738-738-81 @/atom:OPLSAA/738 @/atom:OPLSAA/738 @/atom:OPLSAA/81
    @/angle:OPLSAA/738-738-82 @/atom:OPLSAA/738 @/atom:OPLSAA/738 @/atom:OPLSAA/82
    @/angle:OPLSAA/738-738-431 @/atom:OPLSAA/738 @/atom:OPLSAA/738 @/atom:OPLSAA/431
    @/angle:OPLSAA/738-738-735 @/atom:OPLSAA/738 @/atom:OPLSAA/738 @/atom:OPLSAA/735
    @/angle:OPLSAA/738-738-738 @/atom:OPLSAA/738 @/atom:OPLSAA/738 @/atom:OPLSAA/738
    @/angle:OPLSAA/406-80-80 @/atom:OPLSAA/406 @/atom:OPLSAA/80 @/atom:OPLSAA/80
    @/angle:OPLSAA/406-80-81 @/atom:OPLSAA/406 @/atom:OPLSAA/80 @/atom:OPLSAA/81
    @/angle:OPLSAA/406-80-82 @/atom:OPLSAA/406 @/atom:OPLSAA/80 @/atom:OPLSAA/82
    @/angle:OPLSAA/406-80-431 @/atom:OPLSAA/406 @/atom:OPLSAA/80 @/atom:OPLSAA/431
    @/angle:OPLSAA/406-80-735 @/atom:OPLSAA/406 @/atom:OPLSAA/80 @/atom:OPLSAA/735
    @/angle:OPLSAA/406-80-738 @/atom:OPLSAA/406 @/atom:OPLSAA/80 @/atom:OPLSAA/738
    @/angle:OPLSAA/406-81-80 @/atom:OPLSAA/406 @/atom:OPLSAA/81 @/atom:OPLSAA/80
    @/angle:OPLSAA/406-81-81 @/atom:OPLSAA/406 @/atom:OPLSAA/81 @/atom:OPLSAA/81
    @/angle:OPLSAA/406-81-82 @/atom:OPLSAA/406 @/atom:OPLSAA/81 @/atom:OPLSAA/82
    @/angle:OPLSAA/406-81-431 @/atom:OPLSAA/406 @/atom:OPLSAA/81 @/atom:OPLSAA/431
    @/angle:OPLSAA/406-81-735 @/atom:OPLSAA/406 @/atom:OPLSAA/81 @/atom:OPLSAA/735
    @/angle:OPLSAA/406-81-738 @/atom:OPLSAA/406 @/atom:OPLSAA/81 @/atom:OPLSAA/738
    @/angle:OPLSAA/406-82-80 @/atom:OPLSAA/406 @/atom:OPLSAA/82 @/atom:OPLSAA/80
    @/angle:OPLSAA/406-82-81 @/atom:OPLSAA/406 @/atom:OPLSAA/82 @/atom:OPLSAA/81
    @/angle:OPLSAA/406-82-82 @/atom:OPLSAA/406 @/atom:OPLSAA/82 @/atom:OPLSAA/82
    @/angle:OPLSAA/406-82-431 @/atom:OPLSAA/406 @/atom:OPLSAA/82 @/atom:OPLSAA/431
    @/angle:OPLSAA/406-82-735 @/atom:OPLSAA/406 @/atom:OPLSAA/82 @/atom:OPLSAA/735
    @/angle:OPLSAA/406-82-738 @/atom:OPLSAA/406 @/atom:OPLSAA/82 @/atom:OPLSAA/738
    @/angle:OPLSAA/406-431-80 @/atom:OPLSAA/406 @/atom:OPLSAA/431 @/atom:OPLSAA/80
    @/angle:OPLSAA/406-431-81 @/atom:OPLSAA/406 @/atom:OPLSAA/431 @/atom:OPLSAA/81
    @/angle:OPLSAA/406-431-82 @/atom:OPLSAA/406 @/atom:OPLSAA/431 @/atom:OPLSAA/82
    @/angle:OPLSAA/406-431-431 @/atom:OPLSAA/406 @/atom:OPLSAA/431 @/atom:OPLSAA/431
    @/angle:OPLSAA/406-431-735 @/atom:OPLSAA/406 @/atom:OPLSAA/431 @/atom:OPLSAA/735
    @/angle:OPLSAA/406-431-738 @/atom:OPLSAA/406 @/atom:OPLSAA/431 @/atom:OPLSAA/738
    @/angle:OPLSAA/406-735-80 @/atom:OPLSAA/406 @/atom:OPLSAA/735 @/atom:OPLSAA/80
    @/angle:OPLSAA/406-735-81 @/atom:OPLSAA/406 @/atom:OPLSAA/735 @/atom:OPLSAA/81
    @/angle:OPLSAA/406-735-82 @/atom:OPLSAA/406 @/atom:OPLSAA/735 @/atom:OPLSAA/82
    @/angle:OPLSAA/406-735-431 @/atom:OPLSAA/406 @/atom:OPLSAA/735 @/atom:OPLSAA/431
    @/angle:OPLSAA/406-735-735 @/atom:OPLSAA/406 @/atom:OPLSAA/735 @/atom:OPLSAA/735
    @/angle:OPLSAA/406-735-738 @/atom:OPLSAA/406 @/atom:OPLSAA/735 @/atom:OPLSAA/738
    @/angle:OPLSAA/406-738-80 @/atom:OPLSAA/406 @/atom:OPLSAA/738 @/atom:OPLSAA/80
    @/angle:OPLSAA/406-738-81 @/atom:OPLSAA/406 @/atom:OPLSAA/738 @/atom:OPLSAA/81
    @/angle:OPLSAA/406-738-82 @/atom:OPLSAA/406 @/atom:OPLSAA/738 @/atom:OPLSAA/82
    @/angle:OPLSAA/406-738-431 @/atom:OPLSAA/406 @/atom:OPLSAA/738 @/atom:OPLSAA/431
    @/angle:OPLSAA/406-738-735 @/atom:OPLSAA/406 @/atom:OPLSAA/738 @/atom:OPLSAA/735
    @/angle:OPLSAA/406-738-738 @/atom:OPLSAA/406 @/atom:OPLSAA/738 @/atom:OPLSAA/738
    @/angle:OPLSAA/406-80-408 @/atom:OPLSAA/406 @/atom:OPLSAA/80 @/atom:OPLSAA/408
    @/angle:OPLSAA/406-81-408 @/atom:OPLSAA/406 @/atom:OPLSAA/81 @/atom:OPLSAA/408
    @/angle:OPLSAA/406-82-408 @/atom:OPLSAA/406 @/atom:OPLSAA/82 @/atom:OPLSAA/408
    @/angle:OPLSAA/406-431-408 @/atom:OPLSAA/406 @/atom:OPLSAA/431 @/atom:OPLSAA/408
    @/angle:OPLSAA/406-735-408 @/atom:OPLSAA/406 @/atom:OPLSAA/735 @/atom:OPLSAA/408
    @/angle:OPLSAA/406-738-408 @/atom:OPLSAA/406 @/atom:OPLSAA/738 @/atom:OPLSAA/408
    @/angle:OPLSAA/80-80-408 @/atom:OPLSAA/80 @/atom:OPLSAA/80 @/atom:OPLSAA/408
    @/angle:OPLSAA/80-81-408 @/atom:OPLSAA/80 @/atom:OPLSAA/81 @/atom:OPLSAA/408
    @/angle:OPLSAA/80-82-408 @/atom:OPLSAA/80 @/atom:OPLSAA/82 @/atom:OPLSAA/408
    @/angle:OPLSAA/80-431-408 @/atom:OPLSAA/80 @/atom:OPLSAA/431 @/atom:OPLSAA/408
    @/angle:OPLSAA/80-735-408 @/atom:OPLSAA/80 @/atom:OPLSAA/735 @/atom:OPLSAA/408
    @/angle:OPLSAA/80-738-408 @/atom:OPLSAA/80 @/atom:OPLSAA/738 @/atom:OPLSAA/408
    @/angle:OPLSAA/81-80-408 @/atom:OPLSAA/81 @/atom:OPLSAA/80 @/atom:OPLSAA/408
    @/angle:OPLSAA/81-81-408 @/atom:OPLSAA/81 @/atom:OPLSAA/81 @/atom:OPLSAA/408
    @/angle:OPLSAA/81-82-408 @/atom:OPLSAA/81 @/atom:OPLSAA/82 @/atom:OPLSAA/408
    @/angle:OPLSAA/81-431-408 @/atom:OPLSAA/81 @/atom:OPLSAA/431 @/atom:OPLSAA/408
    @/angle:OPLSAA/81-735-408 @/atom:OPLSAA/81 @/atom:OPLSAA/735 @/atom:OPLSAA/408
    @/angle:OPLSAA/81-738-408 @/atom:OPLSAA/81 @/atom:OPLSAA/738 @/atom:OPLSAA/408
    @/angle:OPLSAA/82-80-408 @/atom:OPLSAA/82 @/atom:OPLSAA/80 @/atom:OPLSAA/408
    @/angle:OPLSAA/82-81-408 @/atom:OPLSAA/82 @/atom:OPLSAA/81 @/atom:OPLSAA/408
    @/angle:OPLSAA/82-82-408 @/atom:OPLSAA/82 @/atom:OPLSAA/82 @/atom:OPLSAA/408
    @/angle:OPLSAA/82-431-408 @/atom:OPLSAA/82 @/atom:OPLSAA/431 @/atom:OPLSAA/408
    @/angle:OPLSAA/82-735-408 @/atom:OPLSAA/82 @/atom:OPLSAA/735 @/atom:OPLSAA/408
    @/angle:OPLSAA/82-738-408 @/atom:OPLSAA/82 @/atom:OPLSAA/738 @/atom:OPLSAA/408
    @/angle:OPLSAA/431-80-408 @/atom:OPLSAA/431 @/atom:OPLSAA/80 @/atom:OPLSAA/408
    @/angle:OPLSAA/431-81-408 @/atom:OPLSAA/431 @/atom:OPLSAA/81 @/atom:OPLSAA/408
    @/angle:OPLSAA/431-82-408 @/atom:OPLSAA/431 @/atom:OPLSAA/82 @/atom:OPLSAA/408
    @/angle:OPLSAA/431-431-408 @/atom:OPLSAA/431 @/atom:OPLSAA/431 @/atom:OPLSAA/408
    @/angle:OPLSAA/431-735-408 @/atom:OPLSAA/431 @/atom:OPLSAA/735 @/atom:OPLSAA/408
    @/angle:OPLSAA/431-738-408 @/atom:OPLSAA/431 @/atom:OPLSAA/738 @/atom:OPLSAA/408
    @/angle:OPLSAA/735-80-408 @/atom:OPLSAA/735 @/atom:OPLSAA/80 @/atom:OPLSAA/408
    @/angle:OPLSAA/735-81-408 @/atom:OPLSAA/735 @/atom:OPLSAA/81 @/atom:OPLSAA/408
    @/angle:OPLSAA/735-82-408 @/atom:OPLSAA/735 @/atom:OPLSAA/82 @/atom:OPLSAA/408
    @/angle:OPLSAA/735-431-408 @/atom:OPLSAA/735 @/atom:OPLSAA/431 @/atom:OPLSAA/408
    @/angle:OPLSAA/735-735-408 @/atom:OPLSAA/735 @/atom:OPLSAA/735 @/atom:OPLSAA/408
    @/angle:OPLSAA/735-738-408 @/atom:OPLSAA/735 @/atom:OPLSAA/738 @/atom:OPLSAA/408
    @/angle:OPLSAA/738-80-408 @/atom:OPLSAA/738 @/atom:OPLSAA/80 @/atom:OPLSAA/408
    @/angle:OPLSAA/738-81-408 @/atom:OPLSAA/738 @/atom:OPLSAA/81 @/atom:OPLSAA/408
    @/angle:OPLSAA/738-82-408 @/atom:OPLSAA/738 @/atom:OPLSAA/82 @/atom:OPLSAA/408
    @/angle:OPLSAA/738-431-408 @/atom:OPLSAA/738 @/atom:OPLSAA/431 @/atom:OPLSAA/408
    @/angle:OPLSAA/738-735-408 @/atom:OPLSAA/738 @/atom:OPLSAA/735 @/atom:OPLSAA/408
    @/angle:OPLSAA/738-738-408 @/atom:OPLSAA/738 @/atom:OPLSAA/738 @/atom:OPLSAA/408
    @/angle:OPLSAA/80-80-732 @/atom:OPLSAA/80 @/atom:OPLSAA/80 @/atom:OPLSAA/732
    @/angle:OPLSAA/80-81-732 @/atom:OPLSAA/80 @/atom:OPLSAA/81 @/atom:OPLSAA/732
    @/angle:OPLSAA/80-82-732 @/atom:OPLSAA/80 @/atom:OPLSAA/82 @/atom:OPLSAA/732
    @/angle:OPLSAA/80-431-732 @/atom:OPLSAA/80 @/atom:OPLSAA/431 @/atom:OPLSAA/732
    @/angle:OPLSAA/80-735-732 @/atom:OPLSAA/80 @/atom:OPLSAA/735 @/atom:OPLSAA/732
    @/angle:OPLSAA/80-738-732 @/atom:OPLSAA/80 @/atom:OPLSAA/738 @/atom:OPLSAA/732
    @/angle:OPLSAA/81-80-732 @/atom:OPLSAA/81 @/atom:OPLSAA/80 @/atom:OPLSAA/732
    @/angle:OPLSAA/81-81-732 @/atom:OPLSAA/81 @/atom:OPLSAA/81 @/atom:OPLSAA/732
    @/angle:OPLSAA/81-82-732 @/atom:OPLSAA/81 @/atom:OPLSAA/82 @/atom:OPLSAA/732
    @/angle:OPLSAA/81-431-732 @/atom:OPLSAA/81 @/atom:OPLSAA/431 @/atom:OPLSAA/732
    @/angle:OPLSAA/81-735-732 @/atom:OPLSAA/81 @/atom:OPLSAA/735 @/atom:OPLSAA/732
    @/angle:OPLSAA/81-738-732 @/atom:OPLSAA/81 @/atom:OPLSAA/738 @/atom:OPLSAA/732
    @/angle:OPLSAA/82-80-732 @/atom:OPLSAA/82 @/atom:OPLSAA/80 @/atom:OPLSAA/732
    @/angle:OPLSAA/82-81-732 @/atom:OPLSAA/82 @/atom:OPLSAA/81 @/atom:OPLSAA/732
    @/angle:OPLSAA/82-82-732 @/atom:OPLSAA/82 @/atom:OPLSAA/82 @/atom:OPLSAA/732
    @/angle:OPLSAA/82-431-732 @/atom:OPLSAA/82 @/atom:OPLSAA/431 @/atom:OPLSAA/732
    @/angle:OPLSAA/82-735-732 @/atom:OPLSAA/82 @/atom:OPLSAA/735 @/atom:OPLSAA/732
    @/angle:OPLSAA/82-738-732 @/atom:OPLSAA/82 @/atom:OPLSAA/738 @/atom:OPLSAA/732
    @/angle:OPLSAA/431-80-732 @/atom:OPLSAA/431 @/atom:OPLSAA/80 @/atom:OPLSAA/732
    @/angle:OPLSAA/431-81-732 @/atom:OPLSAA/431 @/atom:OPLSAA/81 @/atom:OPLSAA/732
    @/angle:OPLSAA/431-82-732 @/atom:OPLSAA/431 @/atom:OPLSAA/82 @/atom:OPLSAA/732
    @/angle:OPLSAA/431-431-732 @/atom:OPLSAA/431 @/atom:OPLSAA/431 @/atom:OPLSAA/732
    @/angle:OPLSAA/431-735-732 @/atom:OPLSAA/431 @/atom:OPLSAA/735 @/atom:OPLSAA/732
    @/angle:OPLSAA/431-738-732 @/atom:OPLSAA/431 @/atom:OPLSAA/738 @/atom:OPLSAA/732
    @/angle:OPLSAA/735-80-732 @/atom:OPLSAA/735 @/atom:OPLSAA/80 @/atom:OPLSAA/732
    @/angle:OPLSAA/735-81-732 @/atom:OPLSAA/735 @/atom:OPLSAA/81 @/atom:OPLSAA/732
    @/angle:OPLSAA/735-82-732 @/atom:OPLSAA/735 @/atom:OPLSAA/82 @/atom:OPLSAA/732
    @/angle:OPLSAA/735-431-732 @/atom:OPLSAA/735 @/atom:OPLSAA/431 @/atom:OPLSAA/732
    @/angle:OPLSAA/735-735-732 @/atom:OPLSAA/735 @/atom:OPLSAA/735 @/atom:OPLSAA/732
    @/angle:OPLSAA/735-738-732 @/atom:OPLSAA/735 @/atom:OPLSAA/738 @/atom:OPLSAA/732
    @/angle:OPLSAA/738-80-732 @/atom:OPLSAA/738 @/atom:OPLSAA/80 @/atom:OPLSAA/732
    @/angle:OPLSAA/738-81-732 @/atom:OPLSAA/738 @/atom:OPLSAA/81 @/atom:OPLSAA/732
    @/angle:OPLSAA/738-82-732 @/atom:OPLSAA/738 @/atom:OPLSAA/82 @/atom:OPLSAA/732
    @/angle:OPLSAA/738-431-732 @/atom:OPLSAA/738 @/atom:OPLSAA/431 @/atom:OPLSAA/732
    @/angle:OPLSAA/738-735-732 @/atom:OPLSAA/738 @/atom:OPLSAA/735 @/atom:OPLSAA/732
    @/angle:OPLSAA/738-738-732 @/atom:OPLSAA/738 @/atom:OPLSAA/738 @/atom:OPLSAA/732
    @/angle:OPLSAA/406-80-732 @/atom:OPLSAA/406 @/atom:OPLSAA/80 @/atom:OPLSAA/732
    @/angle:OPLSAA/406-81-732 @/atom:OPLSAA/406 @/atom:OPLSAA/81 @/atom:OPLSAA/732
    @/angle:OPLSAA/406-82-732 @/atom:OPLSAA/406 @/atom:OPLSAA/82 @/atom:OPLSAA/732
    @/angle:OPLSAA/406-431-732 @/atom:OPLSAA/406 @/atom:OPLSAA/431 @/atom:OPLSAA/732
    @/angle:OPLSAA/406-735-732 @/atom:OPLSAA/406 @/atom:OPLSAA/735 @/atom:OPLSAA/732
    @/angle:OPLSAA/406-738-732 @/atom:OPLSAA/406 @/atom:OPLSAA/738 @/atom:OPLSAA/732
    @/angle:OPLSAA/85-80-85 @/atom:OPLSAA/85 @/atom:OPLSAA/80 @/atom:OPLSAA/85
    @/angle:OPLSAA/85-80-410 @/atom:OPLSAA/85 @/atom:OPLSAA/80 @/atom:OPLSAA/410
    @/angle:OPLSAA/85-80-741 @/atom:OPLSAA/85 @/atom:OPLSAA/80 @/atom:OPLSAA/741
    @/angle:OPLSAA/85-81-85 @/atom:OPLSAA/85 @/atom:OPLSAA/81 @/atom:OPLSAA/85
    @/angle:OPLSAA/85-81-410 @/atom:OPLSAA/85 @/atom:OPLSAA/81 @/atom:OPLSAA/410
    @/angle:OPLSAA/85-81-741 @/atom:OPLSAA/85 @/atom:OPLSAA/81 @/atom:OPLSAA/741
    @/angle:OPLSAA/85-82-85 @/atom:OPLSAA/85 @/atom:OPLSAA/82 @/atom:OPLSAA/85
    @/angle:OPLSAA/85-82-410 @/atom:OPLSAA/85 @/atom:OPLSAA/82 @/atom:OPLSAA/410
    @/angle:OPLSAA/85-82-741 @/atom:OPLSAA/85 @/atom:OPLSAA/82 @/atom:OPLSAA/741
    @/angle:OPLSAA/85-431-85 @/atom:OPLSAA/85 @/atom:OPLSAA/431 @/atom:OPLSAA/85
    @/angle:OPLSAA/85-431-410 @/atom:OPLSAA/85 @/atom:OPLSAA/431 @/atom:OPLSAA/410
    @/angle:OPLSAA/85-431-741 @/atom:OPLSAA/85 @/atom:OPLSAA/431 @/atom:OPLSAA/741
    @/angle:OPLSAA/85-735-85 @/atom:OPLSAA/85 @/atom:OPLSAA/735 @/atom:OPLSAA/85
    @/angle:OPLSAA/85-735-410 @/atom:OPLSAA/85 @/atom:OPLSAA/735 @/atom:OPLSAA/410
    @/angle:OPLSAA/85-735-741 @/atom:OPLSAA/85 @/atom:OPLSAA/735 @/atom:OPLSAA/741
    @/angle:OPLSAA/85-738-85 @/atom:OPLSAA/85 @/atom:OPLSAA/738 @/atom:OPLSAA/85
    @/angle:OPLSAA/85-738-410 @/atom:OPLSAA/85 @/atom:OPLSAA/738 @/atom:OPLSAA/410
    @/angle:OPLSAA/85-738-741 @/atom:OPLSAA/85 @/atom:OPLSAA/738 @/atom:OPLSAA/741
    @/angle:OPLSAA/410-80-85 @/atom:OPLSAA/410 @/atom:OPLSAA/80 @/atom:OPLSAA/85
    @/angle:OPLSAA/410-80-410 @/atom:OPLSAA/410 @/atom:OPLSAA/80 @/atom:OPLSAA/410
    @/angle:OPLSAA/410-80-741 @/atom:OPLSAA/410 @/atom:OPLSAA/80 @/atom:OPLSAA/741
    @/angle:OPLSAA/410-81-85 @/atom:OPLSAA/410 @/atom:OPLSAA/81 @/atom:OPLSAA/85
    @/angle:OPLSAA/410-81-410 @/atom:OPLSAA/410 @/atom:OPLSAA/81 @/atom:OPLSAA/410
    @/angle:OPLSAA/410-81-741 @/atom:OPLSAA/410 @/atom:OPLSAA/81 @/atom:OPLSAA/741
    @/angle:OPLSAA/410-82-85 @/atom:OPLSAA/410 @/atom:OPLSAA/82 @/atom:OPLSAA/85
    @/angle:OPLSAA/410-82-410 @/atom:OPLSAA/410 @/atom:OPLSAA/82 @/atom:OPLSAA/410
    @/angle:OPLSAA/410-82-741 @/atom:OPLSAA/410 @/atom:OPLSAA/82 @/atom:OPLSAA/741
    @/angle:OPLSAA/410-431-85 @/atom:OPLSAA/410 @/atom:OPLSAA/431 @/atom:OPLSAA/85
    @/angle:OPLSAA/410-431-410 @/atom:OPLSAA/410 @/atom:OPLSAA/431 @/atom:OPLSAA/410
    @/angle:OPLSAA/410-431-741 @/atom:OPLSAA/410 @/atom:OPLSAA/431 @/atom:OPLSAA/741
    @/angle:OPLSAA/410-735-85 @/atom:OPLSAA/410 @/atom:OPLSAA/735 @/atom:OPLSAA/85
    @/angle:OPLSAA/410-735-410 @/atom:OPLSAA/410 @/atom:OPLSAA/735 @/atom:OPLSAA/410
    @/angle:OPLSAA/410-735-741 @/atom:OPLSAA/410 @/atom:OPLSAA/735 @/atom:OPLSAA/741
    @/angle:OPLSAA/410-738-85 @/atom:OPLSAA/410 @/atom:OPLSAA/738 @/atom:OPLSAA/85
    @/angle:OPLSAA/410-738-410 @/atom:OPLSAA/410 @/atom:OPLSAA/738 @/atom:OPLSAA/410
    @/angle:OPLSAA/410-738-741 @/atom:OPLSAA/410 @/atom:OPLSAA/738 @/atom:OPLSAA/741
    @/angle:OPLSAA/741-80-85 @/atom:OPLSAA/741 @/atom:OPLSAA/80 @/atom:OPLSAA/85
    @/angle:OPLSAA/741-80-410 @/atom:OPLSAA/741 @/atom:OPLSAA/80 @/atom:OPLSAA/410
    @/angle:OPLSAA/741-80-741 @/atom:OPLSAA/741 @/atom:OPLSAA/80 @/atom:OPLSAA/741
    @/angle:OPLSAA/741-81-85 @/atom:OPLSAA/741 @/atom:OPLSAA/81 @/atom:OPLSAA/85
    @/angle:OPLSAA/741-81-410 @/atom:OPLSAA/741 @/atom:OPLSAA/81 @/atom:OPLSAA/410
    @/angle:OPLSAA/741-81-741 @/atom:OPLSAA/741 @/atom:OPLSAA/81 @/atom:OPLSAA/741
    @/angle:OPLSAA/741-82-85 @/atom:OPLSAA/741 @/atom:OPLSAA/82 @/atom:OPLSAA/85
    @/angle:OPLSAA/741-82-410 @/atom:OPLSAA/741 @/atom:OPLSAA/82 @/atom:OPLSAA/410
    @/angle:OPLSAA/741-82-741 @/atom:OPLSAA/741 @/atom:OPLSAA/82 @/atom:OPLSAA/741
    @/angle:OPLSAA/741-431-85 @/atom:OPLSAA/741 @/atom:OPLSAA/431 @/atom:OPLSAA/85
    @/angle:OPLSAA/741-431-410 @/atom:OPLSAA/741 @/atom:OPLSAA/431 @/atom:OPLSAA/410
    @/angle:OPLSAA/741-431-741 @/atom:OPLSAA/741 @/atom:OPLSAA/431 @/atom:OPLSAA/741
    @/angle:OPLSAA/741-735-85 @/atom:OPLSAA/741 @/atom:OPLSAA/735 @/atom:OPLSAA/85
    @/angle:OPLSAA/741-735-410 @/atom:OPLSAA/741 @/atom:OPLSAA/735 @/atom:OPLSAA/410
    @/angle:OPLSAA/741-735-741 @/atom:OPLSAA/741 @/atom:OPLSAA/735 @/atom:OPLSAA/741
    @/angle:OPLSAA/741-738-85 @/atom:OPLSAA/741 @/atom:OPLSAA/738 @/atom:OPLSAA/85
    @/angle:OPLSAA/741-738-410 @/atom:OPLSAA/741 @/atom:OPLSAA/738 @/atom:OPLSAA/410
    @/angle:OPLSAA/741-738-741 @/atom:OPLSAA/741 @/atom:OPLSAA/738 @/atom:OPLSAA/741
    @/angle:OPLSAA/406-80-85 @/atom:OPLSAA/406 @/atom:OPLSAA/80 @/atom:OPLSAA/85
    @/angle:OPLSAA/406-80-410 @/atom:OPLSAA/406 @/atom:OPLSAA/80 @/atom:OPLSAA/410
    @/angle:OPLSAA/406-80-741 @/atom:OPLSAA/406 @/atom:OPLSAA/80 @/atom:OPLSAA/741
    @/angle:OPLSAA/406-81-85 @/atom:OPLSAA/406 @/atom:OPLSAA/81 @/atom:OPLSAA/85
    @/angle:OPLSAA/406-81-410 @/atom:OPLSAA/406 @/atom:OPLSAA/81 @/atom:OPLSAA/410
    @/angle:OPLSAA/406-81-741 @/atom:OPLSAA/406 @/atom:OPLSAA/81 @/atom:OPLSAA/741
    @/angle:OPLSAA/406-82-85 @/atom:OPLSAA/406 @/atom:OPLSAA/82 @/atom:OPLSAA/85
    @/angle:OPLSAA/406-82-410 @/atom:OPLSAA/406 @/atom:OPLSAA/82 @/atom:OPLSAA/410
    @/angle:OPLSAA/406-82-741 @/atom:OPLSAA/406 @/atom:OPLSAA/82 @/atom:OPLSAA/741
    @/angle:OPLSAA/406-431-85 @/atom:OPLSAA/406 @/atom:OPLSAA/431 @/atom:OPLSAA/85
    @/angle:OPLSAA/406-431-410 @/atom:OPLSAA/406 @/atom:OPLSAA/431 @/atom:OPLSAA/410
    @/angle:OPLSAA/406-431-741 @/atom:OPLSAA/406 @/atom:OPLSAA/431 @/atom:OPLSAA/741
    @/angle:OPLSAA/406-735-85 @/atom:OPLSAA/406 @/atom:OPLSAA/735 @/atom:OPLSAA/85
    @/angle:OPLSAA/406-735-410 @/atom:OPLSAA/406 @/atom:OPLSAA/735 @/atom:OPLSAA/410
    @/angle:OPLSAA/406-735-741 @/atom:OPLSAA/406 @/atom:OPLSAA/735 @/atom:OPLSAA/741
    @/angle:OPLSAA/406-738-85 @/atom:OPLSAA/406 @/atom:OPLSAA/738 @/atom:OPLSAA/85
    @/angle:OPLSAA/406-738-410 @/atom:OPLSAA/406 @/atom:OPLSAA/738 @/atom:OPLSAA/410
    @/angle:OPLSAA/406-738-741 @/atom:OPLSAA/406 @/atom:OPLSAA/738 @/atom:OPLSAA/741
    @/angle:OPLSAA/408-80-85 @/atom:OPLSAA/408 @/atom:OPLSAA/80 @/atom:OPLSAA/85
    @/angle:OPLSAA/408-80-410 @/atom:OPLSAA/408 @/atom:OPLSAA/80 @/atom:OPLSAA/410
    @/angle:OPLSAA/408-80-741 @/atom:OPLSAA/408 @/atom:OPLSAA/80 @/atom:OPLSAA/741
    @/angle:OPLSAA/408-81-85 @/atom:OPLSAA/408 @/atom:OPLSAA/81 @/atom:OPLSAA/85
    @/angle:OPLSAA/408-81-410 @/atom:OPLSAA/408 @/atom:OPLSAA/81 @/atom:OPLSAA/410
    @/angle:OPLSAA/408-81-741 @/atom:OPLSAA/408 @/atom:OPLSAA/81 @/atom:OPLSAA/741
    @/angle:OPLSAA/408-82-85 @/atom:OPLSAA/408 @/atom:OPLSAA/82 @/atom:OPLSAA/85
    @/angle:OPLSAA/408-82-410 @/atom:OPLSAA/408 @/atom:OPLSAA/82 @/atom:OPLSAA/410
    @/angle:OPLSAA/408-82-741 @/atom:OPLSAA/408 @/atom:OPLSAA/82 @/atom:OPLSAA/741
    @/angle:OPLSAA/408-431-85 @/atom:OPLSAA/408 @/atom:OPLSAA/431 @/atom:OPLSAA/85
    @/angle:OPLSAA/408-431-410 @/atom:OPLSAA/408 @/atom:OPLSAA/431 @/atom:OPLSAA/410
    @/angle:OPLSAA/408-431-741 @/atom:OPLSAA/408 @/atom:OPLSAA/431 @/atom:OPLSAA/741
    @/angle:OPLSAA/408-735-85 @/atom:OPLSAA/408 @/atom:OPLSAA/735 @/atom:OPLSAA/85
    @/angle:OPLSAA/408-735-410 @/atom:OPLSAA/408 @/atom:OPLSAA/735 @/atom:OPLSAA/410
    @/angle:OPLSAA/408-735-741 @/atom:OPLSAA/408 @/atom:OPLSAA/735 @/atom:OPLSAA/741
    @/angle:OPLSAA/408-738-85 @/atom:OPLSAA/408 @/atom:OPLSAA/738 @/atom:OPLSAA/85
    @/angle:OPLSAA/408-738-410 @/atom:OPLSAA/408 @/atom:OPLSAA/738 @/atom:OPLSAA/410
    @/angle:OPLSAA/408-738-741 @/atom:OPLSAA/408 @/atom:OPLSAA/738 @/atom:OPLSAA/741
    @/angle:OPLSAA/732-80-85 @/atom:OPLSAA/732 @/atom:OPLSAA/80 @/atom:OPLSAA/85
    @/angle:OPLSAA/732-80-410 @/atom:OPLSAA/732 @/atom:OPLSAA/80 @/atom:OPLSAA/410
    @/angle:OPLSAA/732-80-741 @/atom:OPLSAA/732 @/atom:OPLSAA/80 @/atom:OPLSAA/741
    @/angle:OPLSAA/732-81-85 @/atom:OPLSAA/732 @/atom:OPLSAA/81 @/atom:OPLSAA/85
    @/angle:OPLSAA/732-81-410 @/atom:OPLSAA/732 @/atom:OPLSAA/81 @/atom:OPLSAA/410
    @/angle:OPLSAA/732-81-741 @/atom:OPLSAA/732 @/atom:OPLSAA/81 @/atom:OPLSAA/741
    @/angle:OPLSAA/732-82-85 @/atom:OPLSAA/732 @/atom:OPLSAA/82 @/atom:OPLSAA/85
    @/angle:OPLSAA/732-82-410 @/atom:OPLSAA/732 @/atom:OPLSAA/82 @/atom:OPLSAA/410
    @/angle:OPLSAA/732-82-741 @/atom:OPLSAA/732 @/atom:OPLSAA/82 @/atom:OPLSAA/741
    @/angle:OPLSAA/732-431-85 @/atom:OPLSAA/732 @/atom:OPLSAA/431 @/atom:OPLSAA/85
    @/angle:OPLSAA/732-431-410 @/atom:OPLSAA/732 @/atom:OPLSAA/431 @/atom:OPLSAA/410
    @/angle:OPLSAA/732-431-741 @/atom:OPLSAA/732 @/atom:OPLSAA/431 @/atom:OPLSAA/741
    @/angle:OPLSAA/732-735-85 @/atom:OPLSAA/732 @/atom:OPLSAA/735 @/atom:OPLSAA/85
    @/angle:OPLSAA/732-735-410 @/atom:OPLSAA/732 @/atom:OPLSAA/735 @/atom:OPLSAA/410
    @/angle:OPLSAA/732-735-741 @/atom:OPLSAA/732 @/atom:OPLSAA/735 @/atom:OPLSAA/741
    @/angle:OPLSAA/732-738-85 @/atom:OPLSAA/732 @/atom:OPLSAA/738 @/atom:OPLSAA/85
    @/angle:OPLSAA/732-738-410 @/atom:OPLSAA/732 @/atom:OPLSAA/738 @/atom:OPLSAA/410
    @/angle:OPLSAA/732-738-741 @/atom:OPLSAA/732 @/atom:OPLSAA/738 @/atom:OPLSAA/741
    @/angle:OPLSAA/80-80-85 @/atom:OPLSAA/80 @/atom:OPLSAA/80 @/atom:OPLSAA/85
    @/angle:OPLSAA/80-80-410 @/atom:OPLSAA/80 @/atom:OPLSAA/80 @/atom:OPLSAA/410
    @/angle:OPLSAA/80-80-741 @/atom:OPLSAA/80 @/atom:OPLSAA/80 @/atom:OPLSAA/741
    @/angle:OPLSAA/80-81-85 @/atom:OPLSAA/80 @/atom:OPLSAA/81 @/atom:OPLSAA/85
    @/angle:OPLSAA/80-81-410 @/atom:OPLSAA/80 @/atom:OPLSAA/81 @/atom:OPLSAA/410
    @/angle:OPLSAA/80-81-741 @/atom:OPLSAA/80 @/atom:OPLSAA/81 @/atom:OPLSAA/741
    @/angle:OPLSAA/80-82-85 @/atom:OPLSAA/80 @/atom:OPLSAA/82 @/atom:OPLSAA/85
    @/angle:OPLSAA/80-82-410 @/atom:OPLSAA/80 @/atom:OPLSAA/82 @/atom:OPLSAA/410
    @/angle:OPLSAA/80-82-741 @/atom:OPLSAA/80 @/atom:OPLSAA/82 @/atom:OPLSAA/741
    @/angle:OPLSAA/80-431-85 @/atom:OPLSAA/80 @/atom:OPLSAA/431 @/atom:OPLSAA/85
    @/angle:OPLSAA/80-431-410 @/atom:OPLSAA/80 @/atom:OPLSAA/431 @/atom:OPLSAA/410
    @/angle:OPLSAA/80-431-741 @/atom:OPLSAA/80 @/atom:OPLSAA/431 @/atom:OPLSAA/741
    @/angle:OPLSAA/80-735-85 @/atom:OPLSAA/80 @/atom:OPLSAA/735 @/atom:OPLSAA/85
    @/angle:OPLSAA/80-735-410 @/atom:OPLSAA/80 @/atom:OPLSAA/735 @/atom:OPLSAA/410
    @/angle:OPLSAA/80-735-741 @/atom:OPLSAA/80 @/atom:OPLSAA/735 @/atom:OPLSAA/741
    @/angle:OPLSAA/80-738-85 @/atom:OPLSAA/80 @/atom:OPLSAA/738 @/atom:OPLSAA/85
    @/angle:OPLSAA/80-738-410 @/atom:OPLSAA/80 @/atom:OPLSAA/738 @/atom:OPLSAA/410
    @/angle:OPLSAA/80-738-741 @/atom:OPLSAA/80 @/atom:OPLSAA/738 @/atom:OPLSAA/741
    @/angle:OPLSAA/81-80-85 @/atom:OPLSAA/81 @/atom:OPLSAA/80 @/atom:OPLSAA/85
    @/angle:OPLSAA/81-80-410 @/atom:OPLSAA/81 @/atom:OPLSAA/80 @/atom:OPLSAA/410
    @/angle:OPLSAA/81-80-741 @/atom:OPLSAA/81 @/atom:OPLSAA/80 @/atom:OPLSAA/741
    @/angle:OPLSAA/81-81-85 @/atom:OPLSAA/81 @/atom:OPLSAA/81 @/atom:OPLSAA/85
    @/angle:OPLSAA/81-81-410 @/atom:OPLSAA/81 @/atom:OPLSAA/81 @/atom:OPLSAA/410
    @/angle:OPLSAA/81-81-741 @/atom:OPLSAA/81 @/atom:OPLSAA/81 @/atom:OPLSAA/741
    @/angle:OPLSAA/81-82-85 @/atom:OPLSAA/81 @/atom:OPLSAA/82 @/atom:OPLSAA/85
    @/angle:OPLSAA/81-82-410 @/atom:OPLSAA/81 @/atom:OPLSAA/82 @/atom:OPLSAA/410
    @/angle:OPLSAA/81-82-741 @/atom:OPLSAA/81 @/atom:OPLSAA/82 @/atom:OPLSAA/741
    @/angle:OPLSAA/81-431-85 @/atom:OPLSAA/81 @/atom:OPLSAA/431 @/atom:OPLSAA/85
    @/angle:OPLSAA/81-431-410 @/atom:OPLSAA/81 @/atom:OPLSAA/431 @/atom:OPLSAA/410
    @/angle:OPLSAA/81-431-741 @/atom:OPLSAA/81 @/atom:OPLSAA/431 @/atom:OPLSAA/741
    @/angle:OPLSAA/81-735-85 @/atom:OPLSAA/81 @/atom:OPLSAA/735 @/atom:OPLSAA/85
    @/angle:OPLSAA/81-735-410 @/atom:OPLSAA/81 @/atom:OPLSAA/735 @/atom:OPLSAA/410
    @/angle:OPLSAA/81-735-741 @/atom:OPLSAA/81 @/atom:OPLSAA/735 @/atom:OPLSAA/741
    @/angle:OPLSAA/81-738-85 @/atom:OPLSAA/81 @/atom:OPLSAA/738 @/atom:OPLSAA/85
    @/angle:OPLSAA/81-738-410 @/atom:OPLSAA/81 @/atom:OPLSAA/738 @/atom:OPLSAA/410
    @/angle:OPLSAA/81-738-741 @/atom:OPLSAA/81 @/atom:OPLSAA/738 @/atom:OPLSAA/741
    @/angle:OPLSAA/82-80-85 @/atom:OPLSAA/82 @/atom:OPLSAA/80 @/atom:OPLSAA/85
    @/angle:OPLSAA/82-80-410 @/atom:OPLSAA/82 @/atom:OPLSAA/80 @/atom:OPLSAA/410
    @/angle:OPLSAA/82-80-741 @/atom:OPLSAA/82 @/atom:OPLSAA/80 @/atom:OPLSAA/741
    @/angle:OPLSAA/82-81-85 @/atom:OPLSAA/82 @/atom:OPLSAA/81 @/atom:OPLSAA/85
    @/angle:OPLSAA/82-81-410 @/atom:OPLSAA/82 @/atom:OPLSAA/81 @/atom:OPLSAA/410
    @/angle:OPLSAA/82-81-741 @/atom:OPLSAA/82 @/atom:OPLSAA/81 @/atom:OPLSAA/741
    @/angle:OPLSAA/82-82-85 @/atom:OPLSAA/82 @/atom:OPLSAA/82 @/atom:OPLSAA/85
    @/angle:OPLSAA/82-82-410 @/atom:OPLSAA/82 @/atom:OPLSAA/82 @/atom:OPLSAA/410
    @/angle:OPLSAA/82-82-741 @/atom:OPLSAA/82 @/atom:OPLSAA/82 @/atom:OPLSAA/741
    @/angle:OPLSAA/82-431-85 @/atom:OPLSAA/82 @/atom:OPLSAA/431 @/atom:OPLSAA/85
    @/angle:OPLSAA/82-431-410 @/atom:OPLSAA/82 @/atom:OPLSAA/431 @/atom:OPLSAA/410
    @/angle:OPLSAA/82-431-741 @/atom:OPLSAA/82 @/atom:OPLSAA/431 @/atom:OPLSAA/741
    @/angle:OPLSAA/82-735-85 @/atom:OPLSAA/82 @/atom:OPLSAA/735 @/atom:OPLSAA/85
    @/angle:OPLSAA/82-735-410 @/atom:OPLSAA/82 @/atom:OPLSAA/735 @/atom:OPLSAA/410
    @/angle:OPLSAA/82-735-741 @/atom:OPLSAA/82 @/atom:OPLSAA/735 @/atom:OPLSAA/741
    @/angle:OPLSAA/82-738-85 @/atom:OPLSAA/82 @/atom:OPLSAA/738 @/atom:OPLSAA/85
    @/angle:OPLSAA/82-738-410 @/atom:OPLSAA/82 @/atom:OPLSAA/738 @/atom:OPLSAA/410
    @/angle:OPLSAA/82-738-741 @/atom:OPLSAA/82 @/atom:OPLSAA/738 @/atom:OPLSAA/741
    @/angle:OPLSAA/431-80-85 @/atom:OPLSAA/431 @/atom:OPLSAA/80 @/atom:OPLSAA/85
    @/angle:OPLSAA/431-80-410 @/atom:OPLSAA/431 @/atom:OPLSAA/80 @/atom:OPLSAA/410
    @/angle:OPLSAA/431-80-741 @/atom:OPLSAA/431 @/atom:OPLSAA/80 @/atom:OPLSAA/741
    @/angle:OPLSAA/431-81-85 @/atom:OPLSAA/431 @/atom:OPLSAA/81 @/atom:OPLSAA/85
    @/angle:OPLSAA/431-81-410 @/atom:OPLSAA/431 @/atom:OPLSAA/81 @/atom:OPLSAA/410
    @/angle:OPLSAA/431-81-741 @/atom:OPLSAA/431 @/atom:OPLSAA/81 @/atom:OPLSAA/741
    @/angle:OPLSAA/431-82-85 @/atom:OPLSAA/431 @/atom:OPLSAA/82 @/atom:OPLSAA/85
    @/angle:OPLSAA/431-82-410 @/atom:OPLSAA/431 @/atom:OPLSAA/82 @/atom:OPLSAA/410
    @/angle:OPLSAA/431-82-741 @/atom:OPLSAA/431 @/atom:OPLSAA/82 @/atom:OPLSAA/741
    @/angle:OPLSAA/431-431-85 @/atom:OPLSAA/431 @/atom:OPLSAA/431 @/atom:OPLSAA/85
    @/angle:OPLSAA/431-431-410 @/atom:OPLSAA/431 @/atom:OPLSAA/431 @/atom:OPLSAA/410
    @/angle:OPLSAA/431-431-741 @/atom:OPLSAA/431 @/atom:OPLSAA/431 @/atom:OPLSAA/741
    @/angle:OPLSAA/431-735-85 @/atom:OPLSAA/431 @/atom:OPLSAA/735 @/atom:OPLSAA/85
    @/angle:OPLSAA/431-735-410 @/atom:OPLSAA/431 @/atom:OPLSAA/735 @/atom:OPLSAA/410
    @/angle:OPLSAA/431-735-741 @/atom:OPLSAA/431 @/atom:OPLSAA/735 @/atom:OPLSAA/741
    @/angle:OPLSAA/431-738-85 @/atom:OPLSAA/431 @/atom:OPLSAA/738 @/atom:OPLSAA/85
    @/angle:OPLSAA/431-738-410 @/atom:OPLSAA/431 @/atom:OPLSAA/738 @/atom:OPLSAA/410
    @/angle:OPLSAA/431-738-741 @/atom:OPLSAA/431 @/atom:OPLSAA/738 @/atom:OPLSAA/741
    @/angle:OPLSAA/735-80-85 @/atom:OPLSAA/735 @/atom:OPLSAA/80 @/atom:OPLSAA/85
    @/angle:OPLSAA/735-80-410 @/atom:OPLSAA/735 @/atom:OPLSAA/80 @/atom:OPLSAA/410
    @/angle:OPLSAA/735-80-741 @/atom:OPLSAA/735 @/atom:OPLSAA/80 @/atom:OPLSAA/741
    @/angle:OPLSAA/735-81-85 @/atom:OPLSAA/735 @/atom:OPLSAA/81 @/atom:OPLSAA/85
    @/angle:OPLSAA/735-81-410 @/atom:OPLSAA/735 @/atom:OPLSAA/81 @/atom:OPLSAA/410
    @/angle:OPLSAA/735-81-741 @/atom:OPLSAA/735 @/atom:OPLSAA/81 @/atom:OPLSAA/741
    @/angle:OPLSAA/735-82-85 @/atom:OPLSAA/735 @/atom:OPLSAA/82 @/atom:OPLSAA/85
    @/angle:OPLSAA/735-82-410 @/atom:OPLSAA/735 @/atom:OPLSAA/82 @/atom:OPLSAA/410
    @/angle:OPLSAA/735-82-741 @/atom:OPLSAA/735 @/atom:OPLSAA/82 @/atom:OPLSAA/741
    @/angle:OPLSAA/735-431-85 @/atom:OPLSAA/735 @/atom:OPLSAA/431 @/atom:OPLSAA/85
    @/angle:OPLSAA/735-431-410 @/atom:OPLSAA/735 @/atom:OPLSAA/431 @/atom:OPLSAA/410
    @/angle:OPLSAA/735-431-741 @/atom:OPLSAA/735 @/atom:OPLSAA/431 @/atom:OPLSAA/741
    @/angle:OPLSAA/735-735-85 @/atom:OPLSAA/735 @/atom:OPLSAA/735 @/atom:OPLSAA/85
    @/angle:OPLSAA/735-735-410 @/atom:OPLSAA/735 @/atom:OPLSAA/735 @/atom:OPLSAA/410
    @/angle:OPLSAA/735-735-741 @/atom:OPLSAA/735 @/atom:OPLSAA/735 @/atom:OPLSAA/741
    @/angle:OPLSAA/735-738-85 @/atom:OPLSAA/735 @/atom:OPLSAA/738 @/atom:OPLSAA/85
    @/angle:OPLSAA/735-738-410 @/atom:OPLSAA/735 @/atom:OPLSAA/738 @/atom:OPLSAA/410
    @/angle:OPLSAA/735-738-741 @/atom:OPLSAA/735 @/atom:OPLSAA/738 @/atom:OPLSAA/741
    @/angle:OPLSAA/738-80-85 @/atom:OPLSAA/738 @/atom:OPLSAA/80 @/atom:OPLSAA/85
    @/angle:OPLSAA/738-80-410 @/atom:OPLSAA/738 @/atom:OPLSAA/80 @/atom:OPLSAA/410
    @/angle:OPLSAA/738-80-741 @/atom:OPLSAA/738 @/atom:OPLSAA/80 @/atom:OPLSAA/741
    @/angle:OPLSAA/738-81-85 @/atom:OPLSAA/738 @/atom:OPLSAA/81 @/atom:OPLSAA/85
    @/angle:OPLSAA/738-81-410 @/atom:OPLSAA/738 @/atom:OPLSAA/81 @/atom:OPLSAA/410
    @/angle:OPLSAA/738-81-741 @/atom:OPLSAA/738 @/atom:OPLSAA/81 @/atom:OPLSAA/741
    @/angle:OPLSAA/738-82-85 @/atom:OPLSAA/738 @/atom:OPLSAA/82 @/atom:OPLSAA/85
    @/angle:OPLSAA/738-82-410 @/atom:OPLSAA/738 @/atom:OPLSAA/82 @/atom:OPLSAA/410
    @/angle:OPLSAA/738-82-741 @/atom:OPLSAA/738 @/atom:OPLSAA/82 @/atom:OPLSAA/741
    @/angle:OPLSAA/738-431-85 @/atom:OPLSAA/738 @/atom:OPLSAA/431 @/atom:OPLSAA/85
    @/angle:OPLSAA/738-431-410 @/atom:OPLSAA/738 @/atom:OPLSAA/431 @/atom:OPLSAA/410
    @/angle:OPLSAA/738-431-741 @/atom:OPLSAA/738 @/atom:OPLSAA/431 @/atom:OPLSAA/741
    @/angle:OPLSAA/738-735-85 @/atom:OPLSAA/738 @/atom:OPLSAA/735 @/atom:OPLSAA/85
    @/angle:OPLSAA/738-735-410 @/atom:OPLSAA/738 @/atom:OPLSAA/735 @/atom:OPLSAA/410
    @/angle:OPLSAA/738-735-741 @/atom:OPLSAA/738 @/atom:OPLSAA/735 @/atom:OPLSAA/741
    @/angle:OPLSAA/738-738-85 @/atom:OPLSAA/738 @/atom:OPLSAA/738 @/atom:OPLSAA/85
    @/angle:OPLSAA/738-738-410 @/atom:OPLSAA/738 @/atom:OPLSAA/738 @/atom:OPLSAA/410
    @/angle:OPLSAA/738-738-741 @/atom:OPLSAA/738 @/atom:OPLSAA/738 @/atom:OPLSAA/741
    @/angle:OPLSAA/80-408-80 @/atom:OPLSAA/80 @/atom:OPLSAA/408 @/atom:OPLSAA/80
    @/angle:OPLSAA/80-408-81 @/atom:OPLSAA/80 @/atom:OPLSAA/408 @/atom:OPLSAA/81
    @/angle:OPLSAA/80-408-82 @/atom:OPLSAA/80 @/atom:OPLSAA/408 @/atom:OPLSAA/82
    @/angle:OPLSAA/80-408-431 @/atom:OPLSAA/80 @/atom:OPLSAA/408 @/atom:OPLSAA/431
    @/angle:OPLSAA/80-408-735 @/atom:OPLSAA/80 @/atom:OPLSAA/408 @/atom:OPLSAA/735
    @/angle:OPLSAA/80-408-738 @/atom:OPLSAA/80 @/atom:OPLSAA/408 @/atom:OPLSAA/738
    @/angle:OPLSAA/81-408-80 @/atom:OPLSAA/81 @/atom:OPLSAA/408 @/atom:OPLSAA/80
    @/angle:OPLSAA/81-408-81 @/atom:OPLSAA/81 @/atom:OPLSAA/408 @/atom:OPLSAA/81
    @/angle:OPLSAA/81-408-82 @/atom:OPLSAA/81 @/atom:OPLSAA/408 @/atom:OPLSAA/82
    @/angle:OPLSAA/81-408-431 @/atom:OPLSAA/81 @/atom:OPLSAA/408 @/atom:OPLSAA/431
    @/angle:OPLSAA/81-408-735 @/atom:OPLSAA/81 @/atom:OPLSAA/408 @/atom:OPLSAA/735
    @/angle:OPLSAA/81-408-738 @/atom:OPLSAA/81 @/atom:OPLSAA/408 @/atom:OPLSAA/738
    @/angle:OPLSAA/82-408-80 @/atom:OPLSAA/82 @/atom:OPLSAA/408 @/atom:OPLSAA/80
    @/angle:OPLSAA/82-408-81 @/atom:OPLSAA/82 @/atom:OPLSAA/408 @/atom:OPLSAA/81
    @/angle:OPLSAA/82-408-82 @/atom:OPLSAA/82 @/atom:OPLSAA/408 @/atom:OPLSAA/82
    @/angle:OPLSAA/82-408-431 @/atom:OPLSAA/82 @/atom:OPLSAA/408 @/atom:OPLSAA/431
    @/angle:OPLSAA/82-408-735 @/atom:OPLSAA/82 @/atom:OPLSAA/408 @/atom:OPLSAA/735
    @/angle:OPLSAA/82-408-738 @/atom:OPLSAA/82 @/atom:OPLSAA/408 @/atom:OPLSAA/738
    @/angle:OPLSAA/431-408-80 @/atom:OPLSAA/431 @/atom:OPLSAA/408 @/atom:OPLSAA/80
    @/angle:OPLSAA/431-408-81 @/atom:OPLSAA/431 @/atom:OPLSAA/408 @/atom:OPLSAA/81
    @/angle:OPLSAA/431-408-82 @/atom:OPLSAA/431 @/atom:OPLSAA/408 @/atom:OPLSAA/82
    @/angle:OPLSAA/431-408-431 @/atom:OPLSAA/431 @/atom:OPLSAA/408 @/atom:OPLSAA/431
    @/angle:OPLSAA/431-408-735 @/atom:OPLSAA/431 @/atom:OPLSAA/408 @/atom:OPLSAA/735
    @/angle:OPLSAA/431-408-738 @/atom:OPLSAA/431 @/atom:OPLSAA/408 @/atom:OPLSAA/738
    @/angle:OPLSAA/735-408-80 @/atom:OPLSAA/735 @/atom:OPLSAA/408 @/atom:OPLSAA/80
    @/angle:OPLSAA/735-408-81 @/atom:OPLSAA/735 @/atom:OPLSAA/408 @/atom:OPLSAA/81
    @/angle:OPLSAA/735-408-82 @/atom:OPLSAA/735 @/atom:OPLSAA/408 @/atom:OPLSAA/82
    @/angle:OPLSAA/735-408-431 @/atom:OPLSAA/735 @/atom:OPLSAA/408 @/atom:OPLSAA/431
    @/angle:OPLSAA/735-408-735 @/atom:OPLSAA/735 @/atom:OPLSAA/408 @/atom:OPLSAA/735
    @/angle:OPLSAA/735-408-738 @/atom:OPLSAA/735 @/atom:OPLSAA/408 @/atom:OPLSAA/738
    @/angle:OPLSAA/738-408-80 @/atom:OPLSAA/738 @/atom:OPLSAA/408 @/atom:OPLSAA/80
    @/angle:OPLSAA/738-408-81 @/atom:OPLSAA/738 @/atom:OPLSAA/408 @/atom:OPLSAA/81
    @/angle:OPLSAA/738-408-82 @/atom:OPLSAA/738 @/atom:OPLSAA/408 @/atom:OPLSAA/82
    @/angle:OPLSAA/738-408-431 @/atom:OPLSAA/738 @/atom:OPLSAA/408 @/atom:OPLSAA/431
    @/angle:OPLSAA/738-408-735 @/atom:OPLSAA/738 @/atom:OPLSAA/408 @/atom:OPLSAA/735
    @/angle:OPLSAA/738-408-738 @/atom:OPLSAA/738 @/atom:OPLSAA/408 @/atom:OPLSAA/738
    @/angle:OPLSAA/406-408-80 @/atom:OPLSAA/406 @/atom:OPLSAA/408 @/atom:OPLSAA/80
    @/angle:OPLSAA/406-408-81 @/atom:OPLSAA/406 @/atom:OPLSAA/408 @/atom:OPLSAA/81
    @/angle:OPLSAA/406-408-82 @/atom:OPLSAA/406 @/atom:OPLSAA/408 @/atom:OPLSAA/82
    @/angle:OPLSAA/406-408-431 @/atom:OPLSAA/406 @/atom:OPLSAA/408 @/atom:OPLSAA/431
    @/angle:OPLSAA/406-408-735 @/atom:OPLSAA/406 @/atom:OPLSAA/408 @/atom:OPLSAA/735
    @/angle:OPLSAA/406-408-738 @/atom:OPLSAA/406 @/atom:OPLSAA/408 @/atom:OPLSAA/738
    @/angle:OPLSAA/80-732-80 @/atom:OPLSAA/80 @/atom:OPLSAA/732 @/atom:OPLSAA/80
    @/angle:OPLSAA/80-732-81 @/atom:OPLSAA/80 @/atom:OPLSAA/732 @/atom:OPLSAA/81
    @/angle:OPLSAA/80-732-82 @/atom:OPLSAA/80 @/atom:OPLSAA/732 @/atom:OPLSAA/82
    @/angle:OPLSAA/80-732-431 @/atom:OPLSAA/80 @/atom:OPLSAA/732 @/atom:OPLSAA/431
    @/angle:OPLSAA/80-732-735 @/atom:OPLSAA/80 @/atom:OPLSAA/732 @/atom:OPLSAA/735
    @/angle:OPLSAA/80-732-738 @/atom:OPLSAA/80 @/atom:OPLSAA/732 @/atom:OPLSAA/738
    @/angle:OPLSAA/81-732-80 @/atom:OPLSAA/81 @/atom:OPLSAA/732 @/atom:OPLSAA/80
    @/angle:OPLSAA/81-732-81 @/atom:OPLSAA/81 @/atom:OPLSAA/732 @/atom:OPLSAA/81
    @/angle:OPLSAA/81-732-82 @/atom:OPLSAA/81 @/atom:OPLSAA/732 @/atom:OPLSAA/82
    @/angle:OPLSAA/81-732-431 @/atom:OPLSAA/81 @/atom:OPLSAA/732 @/atom:OPLSAA/431
    @/angle:OPLSAA/81-732-735 @/atom:OPLSAA/81 @/atom:OPLSAA/732 @/atom:OPLSAA/735
    @/angle:OPLSAA/81-732-738 @/atom:OPLSAA/81 @/atom:OPLSAA/732 @/atom:OPLSAA/738
    @/angle:OPLSAA/82-732-80 @/atom:OPLSAA/82 @/atom:OPLSAA/732 @/atom:OPLSAA/80
    @/angle:OPLSAA/82-732-81 @/atom:OPLSAA/82 @/atom:OPLSAA/732 @/atom:OPLSAA/81
    @/angle:OPLSAA/82-732-82 @/atom:OPLSAA/82 @/atom:OPLSAA/732 @/atom:OPLSAA/82
    @/angle:OPLSAA/82-732-431 @/atom:OPLSAA/82 @/atom:OPLSAA/732 @/atom:OPLSAA/431
    @/angle:OPLSAA/82-732-735 @/atom:OPLSAA/82 @/atom:OPLSAA/732 @/atom:OPLSAA/735
    @/angle:OPLSAA/82-732-738 @/atom:OPLSAA/82 @/atom:OPLSAA/732 @/atom:OPLSAA/738
    @/angle:OPLSAA/431-732-80 @/atom:OPLSAA/431 @/atom:OPLSAA/732 @/atom:OPLSAA/80
    @/angle:OPLSAA/431-732-81 @/atom:OPLSAA/431 @/atom:OPLSAA/732 @/atom:OPLSAA/81
    @/angle:OPLSAA/431-732-82 @/atom:OPLSAA/431 @/atom:OPLSAA/732 @/atom:OPLSAA/82
    @/angle:OPLSAA/431-732-431 @/atom:OPLSAA/431 @/atom:OPLSAA/732 @/atom:OPLSAA/431
    @/angle:OPLSAA/431-732-735 @/atom:OPLSAA/431 @/atom:OPLSAA/732 @/atom:OPLSAA/735
    @/angle:OPLSAA/431-732-738 @/atom:OPLSAA/431 @/atom:OPLSAA/732 @/atom:OPLSAA/738
    @/angle:OPLSAA/735-732-80 @/atom:OPLSAA/735 @/atom:OPLSAA/732 @/atom:OPLSAA/80
    @/angle:OPLSAA/735-732-81 @/atom:OPLSAA/735 @/atom:OPLSAA/732 @/atom:OPLSAA/81
    @/angle:OPLSAA/735-732-82 @/atom:OPLSAA/735 @/atom:OPLSAA/732 @/atom:OPLSAA/82
    @/angle:OPLSAA/735-732-431 @/atom:OPLSAA/735 @/atom:OPLSAA/732 @/atom:OPLSAA/431
    @/angle:OPLSAA/735-732-735 @/atom:OPLSAA/735 @/atom:OPLSAA/732 @/atom:OPLSAA/735
    @/angle:OPLSAA/735-732-738 @/atom:OPLSAA/735 @/atom:OPLSAA/732 @/atom:OPLSAA/738
    @/angle:OPLSAA/738-732-80 @/atom:OPLSAA/738 @/atom:OPLSAA/732 @/atom:OPLSAA/80
    @/angle:OPLSAA/738-732-81 @/atom:OPLSAA/738 @/atom:OPLSAA/732 @/atom:OPLSAA/81
    @/angle:OPLSAA/738-732-82 @/atom:OPLSAA/738 @/atom:OPLSAA/732 @/atom:OPLSAA/82
    @/angle:OPLSAA/738-732-431 @/atom:OPLSAA/738 @/atom:OPLSAA/732 @/atom:OPLSAA/431
    @/angle:OPLSAA/738-732-735 @/atom:OPLSAA/738 @/atom:OPLSAA/732 @/atom:OPLSAA/735
    @/angle:OPLSAA/738-732-738 @/atom:OPLSAA/738 @/atom:OPLSAA/732 @/atom:OPLSAA/738
    @/angle:OPLSAA/406-732-80 @/atom:OPLSAA/406 @/atom:OPLSAA/732 @/atom:OPLSAA/80
    @/angle:OPLSAA/406-732-81 @/atom:OPLSAA/406 @/atom:OPLSAA/732 @/atom:OPLSAA/81
    @/angle:OPLSAA/406-732-82 @/atom:OPLSAA/406 @/atom:OPLSAA/732 @/atom:OPLSAA/82
    @/angle:OPLSAA/406-732-431 @/atom:OPLSAA/406 @/atom:OPLSAA/732 @/atom:OPLSAA/431
    @/angle:OPLSAA/406-732-735 @/atom:OPLSAA/406 @/atom:OPLSAA/732 @/atom:OPLSAA/735
    @/angle:OPLSAA/406-732-738 @/atom:OPLSAA/406 @/atom:OPLSAA/732 @/atom:OPLSAA/738
