    @/bond:OPLSAA/406-406 @/atom:OPLSAA/406 @/atom:OPLSAA/406
    @/bond:OPLSAA/406-407 @/atom:OPLSAA/406 @/atom:OPLSAA/407
    @/bond:OPLSAA/406-80 @/atom:OPLSAA/406 @/atom:OPLSAA/80
    @/bond:OPLSAA/406-81 @/atom:OPLSAA/406 @/atom:OPLSAA/81
    @/bond:OPLSAA/406-82 @/atom:OPLSAA/406 @/atom:OPLSAA/82
    @/bond:OPLSAA/406-431 @/atom:OPLSAA/406 @/atom:OPLSAA/431
    @/bond:OPLSAA/406-735 @/atom:OPLSAA/406 @/atom:OPLSAA/735
    @/bond:OPLSAA/406-738 @/atom:OPLSAA/406 @/atom:OPLSAA/738
    @/bond:OPLSAA/406-408 @/atom:OPLSAA/406 @/atom:OPLSAA/408
    @/bond:OPLSAA/406-732 @/atom:OPLSAA/406 @/atom:OPLSAA/732
    @/bond:OPLSAA/406-85 @/atom:OPLSAA/406 @/atom:OPLSAA/85
    @/bond:OPLSAA/406-410 @/atom:OPLSAA/406 @/atom:OPLSAA/410
    @/bond:OPLSAA/406-741 @/atom:OPLSAA/406 @/atom:OPLSAA/741
    @/bond:OPLSAA/80-80 @/atom:OPLSAA/80 @/atom:OPLSAA/80
    @/bond:OPLSAA/80-81 @/atom:OPLSAA/80 @/atom:OPLSAA/81
    @/bond:OPLSAA/80-82 @/atom:OPLSAA/80 @/atom:OPLSAA/82
    @/bond:OPLSAA/80-431 @/atom:OPLSAA/80 @/atom:OPLSAA/431
    @/bond:OPLSAA/80-735 @/atom:OPLSAA/80 @/atom:OPLSAA/735
    @/bond:OPLSAA/80-738 @/atom:OPLSAA/80 @/atom:OPLSAA/738
    @/bond:OPLSAA/81-80 @/atom:OPLSAA/81 @/atom:OPLSAA/80
    @/bond:OPLSAA/81-81 @/atom:OPLSAA/81 @/atom:OPLSAA/81
    @/bond:OPLSAA/81-82 @/atom:OPLSAA/81 @/atom:OPLSAA/82
    @/bond:OPLSAA/81-431 @/atom:OPLSAA/81 @/atom:OPLSAA/431
    @/bond:OPLSAA/81-735 @/atom:OPLSAA/81 @/atom:OPLSAA/735
    @/bond:OPLSAA/81-738 @/atom:OPLSAA/81 @/atom:OPLSAA/738
    @/bond:OPLSAA/82-80 @/atom:OPLSAA/82 @/atom:OPLSAA/80
    @/bond:OPLSAA/82-81 @/atom:OPLSAA/82 @/atom:OPLSAA/81
    @/bond:OPLSAA/82-82 @/atom:OPLSAA/82 @/atom:OPLSAA/82
    @/bond:OPLSAA/82-431 @/atom:OPLSAA/82 @/atom:OPLSAA/431
    @/bond:OPLSAA/82-735 @/atom:OPLSAA/82 @/atom:OPLSAA/735
    @/bond:OPLSAA/82-738 @/atom:OPLSAA/82 @/atom:OPLSAA/738
    @/bond:OPLSAA/431-80 @/atom:OPLSAA/431 @/atom:OPLSAA/80
    @/bond:OPLSAA/431-81 @/atom:OPLSAA/431 @/atom:OPLSAA/81
    @/bond:OPLSAA/431-82 @/atom:OPLSAA/431 @/atom:OPLSAA/82
    @/bond:OPLSAA/431-431 @/atom:OPLSAA/431 @/atom:OPLSAA/431
    @/bond:OPLSAA/431-735 @/atom:OPLSAA/431 @/atom:OPLSAA/735
    @/bond:OPLSAA/431-738 @/atom:OPLSAA/431 @/atom:OPLSAA/738
    @/bond:OPLSAA/735-80 @/atom:OPLSAA/735 @/atom:OPLSAA/80
    @/bond:OPLSAA/735-81 @/atom:OPLSAA/735 @/atom:OPLSAA/81
    @/bond:OPLSAA/735-82 @/atom:OPLSAA/735 @/atom:OPLSAA/82
    @/bond:OPLSAA/735-431 @/atom:OPLSAA/735 @/atom:OPLSAA/431
    @/bond:OPLSAA/735-735 @/atom:OPLSAA/735 @/atom:OPLSAA/735
    @/bond:OPLSAA/735-738 @/atom:OPLSAA/735 @/atom:OPLSAA/738
    @/bond:OPLSAA/738-80 @/atom:OPLSAA/738 @/atom:OPLSAA/80
    @/bond:OPLSAA/738-81 @/atom:OPLSAA/738 @/atom:OPLSAA/81
    @/bond:OPLSAA/738-82 @/atom:OPLSAA/738 @/atom:OPLSAA/82
    @/bond:OPLSAA/738-431 @/atom:OPLSAA/738 @/atom:OPLSAA/431
    @/bond:OPLSAA/738-735 @/atom:OPLSAA/738 @/atom:OPLSAA/735
    @/bond:OPLSAA/738-738 @/atom:OPLSAA/738 @/atom:OPLSAA/738
    @/bond:OPLSAA/80-408 @/atom:OPLSAA/80 @/atom:OPLSAA/408
    @/bond:OPLSAA/81-408 @/atom:OPLSAA/81 @/atom:OPLSAA/408
    @/bond:OPLSAA/82-408 @/atom:OPLSAA/82 @/atom:OPLSAA/408
    @/bond:OPLSAA/431-408 @/atom:OPLSAA/431 @/atom:OPLSAA/408
    @/bond:OPLSAA/735-408 @/atom:OPLSAA/735 @/atom:OPLSAA/408
    @/bond:OPLSAA/738-408 @/atom:OPLSAA/738 @/atom:OPLSAA/408
    @/bond:OPLSAA/80-732 @/atom:OPLSAA/80 @/atom:OPLSAA/732
    @/bond:OPLSAA/81-732 @/atom:OPLSAA/81 @/atom:OPLSAA/732
    @/bond:OPLSAA/82-732 @/atom:OPLSAA/82 @/atom:OPLSAA/732
    @/bond:OPLSAA/431-732 @/atom:OPLSAA/431 @/atom:OPLSAA/732
    @/bond:OPLSAA/735-732 @/atom:OPLSAA/735 @/atom:OPLSAA/732
    @/bond:OPLSAA/738-732 @/atom:OPLSAA/738 @/atom:OPLSAA/732
    @/bond:OPLSAA/80-85 @/atom:OPLSAA/80 @/atom:OPLSAA/85
    @/bond:OPLSAA/80-410 @/atom:OPLSAA/80 @/atom:OPLSAA/410
    @/bond:OPLSAA/80-741 @/atom:OPLSAA/80 @/atom:OPLSAA/741
    @/bond:OPLSAA/81-85 @/atom:OPLSAA/81 @/atom:OPLSAA/85
    @/bond:OPLSAA/81-410 @/atom:OPLSAA/81 @/atom:OPLSAA/410
    @/bond:OPLSAA/81-741 @/atom:OPLSAA/81 @/atom:OPLSAA/741
    @/bond:OPLSAA/82-85 @/atom:OPLSAA/82 @/atom:OPLSAA/85
    @/bond:OPLSAA/82-410 @/atom:OPLSAA/82 @/atom:OPLSAA/410
    @/bond:OPLSAA/82-741 @/atom:OPLSAA/82 @/atom:OPLSAA/741
    @/bond:OPLSAA/431-85 @/atom:OPLSAA/431 @/atom:OPLSAA/85
    @/bond:OPLSAA/431-410 @/atom:OPLSAA/431 @/atom:OPLSAA/410
    @/bond:OPLSAA/431-741 @/atom:OPLSAA/431 @/atom:OPLSAA/741
    @/bond:OPLSAA/735-85 @/atom:OPLSAA/735 @/atom:OPLSAA/85
    @/bond:OPLSAA/735-410 @/atom:OPLSAA/735 @/atom:OPLSAA/410
    @/bond:OPLSAA/735-741 @/atom:OPLSAA/735 @/atom:OPLSAA/741
    @/bond:OPLSAA/738-85 @/atom:OPLSAA/738 @/atom:OPLSAA/85
    @/bond:OPLSAA/738-410 @/atom:OPLSAA/738 @/atom:OPLSAA/410
    @/bond:OPLSAA/738-741 @/atom:OPLSAA/738 @/atom:OPLSAA/741
    @/bond:OPLSAA/408-408 @/atom:OPLSAA/408 @/atom:OPLSAA/408
    @/bond:OPLSAA/408-732 @/atom:OPLSAA/408 @/atom:OPLSAA/732
    @/bond:OPLSAA/732-732 @/atom:OPLSAA/732 @/atom:OPLSAA/732
